//@import "~cesium/Build/Cesium/Widgets/Viewer/Viewer.css";

.cesium-viewer, .cesium-viewer-cesiumWidgetContainer, .cesium-widget {
  width: 100%;
  height: 100%;
}

.annotation {
  position: absolute;
  padding: 10px;
  opacity: 0.5;
  transform: translate(-50%, -30px);
  will-change: left, top;

  .annotation-title-bar {
    color: white;
    background-color: black;
    border-radius: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 0.72rem;
    opacity: 1;
    margin: auto;
    display: table;
    padding: 1px 8px;
    cursor: pointer;

    .annotation-action-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5em;
      text-align: center;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(0px 0px 1px white);
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    .annotation-label {
      display: inline-block;
      height: 100%;
      flex-grow: 1;
      user-select: none;
      -moz-user-select: none;
      z-index: 100;
      //vertical-align: middle;
      line-height: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  .annotation-description {
    position: relative;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px 0 0 0;
    border-radius: 4px;
    display: none;
    max-width: 500px;
    width: 500px;
    transition: display 2s;

    .annotation-description-close {
      filter: invert(100%);
      float: right;
      opacity: 0.5;
      margin: 0 0 8px 8px;
    }

    .annotation-description-content {
      color: white;
    }
  }
}

.axis {
  font: 10px sans-serif;
  color: var(--font-color);
}

.axis path {
  fill: rgba(255, 255, 255, 0.5);
  stroke: var(--font-color);
  shape-rendering: crispEdges;
  opacity: 0.7;
}

.axis line {
  fill: rgba(255, 255, 255, 0.5);
  stroke: var(--font-color);
  shape-rendering: crispEdges;
  opacity: 0.1;
}

.tick text {
  font-size: 12px;
}

.canvas {
  -webkit-transition: top .35s, left .35s, bottom .35s, right .35s, width .35s;
  transition: top .35s, left .35s, bottom .35s, right .35s, width .35s;
}

#profile_window {
  background-color: var(--bg-color);
}

#profile_titlebar {
  background-color: var(--bg-color-2);
  color: var(--font-color-2);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1em;
  font-weight: bold;
}

#profile_window_title {
  position: absolute;
  margin: 5px;
}

.profile-container-button {
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0000CC;
}

.unselectable {
  user-select: none;
}

.selectable {
  user-select: text;
}

.ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(100, 150, 0, 1);
}
