@import "../../../../styles/variables";

.Layout {
  min-height: 100vh;

  .Header {
    padding: 0 1.5rem 0 0;
    height: 64px;
  }

  .Content {
    padding: 0;
    flex-shrink: inherit;
    flex-grow: inherit;
    flex-basis: inherit;
  }
}

.V3D {
  margin: 0;
  //position: absolute;
  //display: flex;
  //flex-direction: column;
  //flex-grow: 1;
}

.ViewerContainer {
  //position: absolute;
  //width: 100%;
  //height: 100%;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 64px);
}

.CsMapContainer {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
}

.CollapseMenu {
  .CollapseMenuPanel0 {
    :global(.ant-collapse-content-box) {
      padding: 0.5rem 0 0;
    }
  }
}

.NavItem {
  .NavTitle {
    padding-left: 0.3rem;
    margin-top: 0.35rem;
    line-height: 1rem;
    font-size: 0.85rem;
    color: #3c4b64;
  }
}

.Tool {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(64px + 1rem + 64px + 1rem);
  right: 0.01px;

  .RadioButton {
    background-color: rgba(21, 25, 20, 0.750);
    border: none;
    border-radius: 0 !important;
    text-align: center;

    &:hover {
      background-color: #000000;
    }

    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: red;
    }

    .Icon {
      color: #fff;
      width: 12px;
    }
  }

  .SpaceGroup {
    .Button {
      border-radius: 0;
      border-width: 0;
      background-color: rgba(21, 25, 20, 0.75);
      color: #fff;
      width: 2.2rem;

      &.Active, &:hover {
        background-color: rgba($color-main, 0.9);
        color: #fff;
      }
    }

    div {
      &:first-child .Button {
        border-top-left-radius: 0.25rem;
      }

      &:last-child .Button {
        border-bottom-left-radius: 0.25rem;
      }
    }
  }
}
