@import "variables";

%kGridView {
  @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6 xxl:grid-cols-4 3xl:gap-8;
}

%kContent {
  @apply p-4 md:p-6 xxl:p-10 3xl:container 3xl:mx-auto;
}

%kInputAntPicker {
  .ant-picker-input {
    input {
      &::placeholder {
        color: $color-text-dark-5 !important;
      }
    }

    .ant-picker-suffix {
      color: $color-text-dark-5 !important;
    }
  }
}

