@import "functions";
@import "variables";

.layout {
  background: $color-layout !important;
}

.text {
  color: $color-text-main;
}

.text-medium {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.text-light {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.btn-rounded {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 25px !important;
}

.btn-color-white {
  background: $color-layout !important;
}

