@import "functions";
@import "variables";
@import "mixins/breakpoints";

.layout {
  background: $color-layout !important;
}

.text {
  color: $color-text-main;
}

.text-medium {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.text-light {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.btn-rounded {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 25px !important;
}

.BtnRounded {
  //border: 1px solid #009B90;
  //border-radius: 32px;
  border-radius: 25px;

  &:hover {
    background: $color-white;
    border-color: $color-main-second;
    color: $color-main-second;
  }

  &:active {
    background: $color-white;
    border-color: $color-main-second;
    color: $color-main-second;
  }

  &:focus {
    background: $color-white;
    border-color: $color-main-second;
    color: $color-main-second;
  }
}

.btn-color-white {
  background: $color-layout;
}

.InputMain {
  height: 40px;
  border-radius: 37.8698px;
  background: $color-gray !important;

  &:hover {
    background: $color-gray !important;
    border-color: $color-main-second !important;
    color: $color-main-second;
  }

  //
  &:active {
    background: $color-gray !important;
    //border-color: $color-main-second !important;
    //color: $color-main-second;
  }

  //
  &:focus {
    background: $color-gray !important;
    border-color: $color-main-second !important;
    color: $color-main-second;
  }

  &.InputLarge {
    height: 48px;
  }

  &.InputMiddle {
    height: 40px;
  }

  &.InputSmall {
    height: 32px;
  }

  :global(.ant-input) {
    background: $color-gray !important;

    &:hover {
      background: $color-gray !important;
      border-color: $color-main-second !important;
      color: $color-main-second !important;
    }

    &:active {
      background: $color-gray !important;
      border-color: $color-main-second;
      color: $color-main-second;
    }

    &:focus {
      background: $color-gray !important;
      border-color: $color-main-second;
      color: $color-main-second;
    }
  }
}

.CheckBox {
  &:hover {
    border-color: $color-main-second !important;
  }

  :global(.ant-checkbox) {
    &:hover {
      border-color: $color-main-second !important;
    }
  }

  :global(.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner) {
    border-color: $color-main-second !important;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: $color-main-second !important;
    border-color: $color-main-second !important;
  }
}

@include media-breakpoint-down(sm) {
  //height: 30.74px;
  .InputMain {
    height: 32px;
  }
}
