@import "variables";
@import "defaults";

$btn-main-secondary: #5FCBCB;
%icon-color-filter-white {
  filter: brightness(0) invert(1);
}

@mixin base-button($vertical-padding,$horizontal-padding,$height) {
  padding: #{$vertical-padding}px #{$horizontal-padding}px !important;
}

@mixin base-text-weight($type) {
  @if $type == default {
    font-weight: 400 !important;
  } @else if $type ==  strong {
    font-weight: 600 !important;
  }
}

@mixin base-typography($font-size,$line-height) {
  font-size: #{$font-size}rem !important;
  line-height: #{$line-height}rem !important;
}

@mixin detect-button($type) {
  @if $type == small {
    @include base-button(8, 20, 34)
  } @else if $type == normal {
    @include base-button(12, 24, 48)
  } @else if $type == large {
    @include base-button(16, 38, 58)
  }
}

@mixin v2d-text-weight($type) {
  @if $type == default {
    font-weight: 400 !important;
  } @else if $type == semibold {
    font-weight: 600 !important;
  } @else if $type == bold {
    font-weight: 700 !important;
  }
}

@mixin font-24-line-30 {
  @include base-typography(1.5, 1.875);
}

@mixin font-16-line-30 {
  @include base-typography(1, 1.875);
}

@mixin font-30-line-35 {
  @include base-typography(1.875, 2.1875);
}

@mixin font-40-line-45 {
  @include base-typography(2.5, 2.8125);
}

@mixin font-56-line-60 {
  @include base-typography(3.5, 3.75);
}

@mixin font-14-line-20 {
  @include base-typography(0.875, 1.25);
}

@mixin font-14-line-18 {
  @include base-typography(0.875, 1.125);
}

@mixin font-16-line-24 {
  @include base-typography(1, 1.5);
}

@mixin font-16-line-22 {
  @include base-typography(1, 1.375);
}

@mixin font-16-line-20 {
  @include base-typography(1, 1.25);
}

@mixin font-18-line-28 {
  @include base-typography(1.125, 1.75);
}

@mixin font-12-line-16 {
  @include base-typography(0.75, 1);
}

@mixin font-10-line-16 {
  @include base-typography(0.625, 1);
}

@mixin font-12-line-18 {
  @include base-typography(0.75, 1.125);
}

@mixin font-12-line-22 {
  @include base-typography(0.75, 1.375);
}

@mixin font-12-line-20 {
  @include base-typography(0.75, 1.25);
}

@mixin font-20-line-24 {
  @include base-typography(1.25, 1.5);
}

@mixin font-20-line-25 {
  @include base-typography(1.25, 1.5625);
}

@mixin font-9-line-14 {
  @include base-typography(0.5625, 0.875);
}

@mixin font-26-line-35 {
  @include base-typography(1.625, 2.1875);
}

@mixin font-10-line-14 {
  @include base-typography(0.625, 0.875);
}

@mixin font-12-line-14 {
  @include base-typography(0.75, 0.875);
}

@mixin font-18-line-20 {
  @include base-typography(1.125, 1.25);
}

%btn-responsive-p-small {
  padding: 0 0.5rem !important;

  @include respond-to($breakpoints, 'md') {
    padding: 0 1.5rem !important;
  }
}

.fix-ant-form-item {
  margin-bottom: 0 !important;
}

.hover-pointer {
  @apply hover:cursor-pointer;
}

.text-weight-strong {
  @include base-text-weight(strong);
}

.text-weight-regular {
  @include base-text-weight(default);
}

.text-title-1 {
  @include font-24-line-30;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-24-30 {
  @include font-24-line-30;
}

.text-12-18 {
  @include font-12-line-18;
}

.text-10-16 {
  @include font-10-line-16;
}

.text-12-22 {
  @include font-12-line-22;
}

.text-9-14 {
  @include font-9-line-14;
}

.text-20-24 {
  @include font-20-line-24;
}

.text-title-2 {
  @include base-typography(1.5, 1.75);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-title-3 {
  @include font-14-line-20;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-title-4 {
  @include font-12-line-16;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-button-large {
  @include base-typography(1, 1.5);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-title-fix {
  @include base-typography(1.875, 1.125);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-button {
  @include base-typography(0.875, 1.125);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-body-text-1 {
  @include font-20-line-25;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-body-1 {
  @include font-16-line-22;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-14-20 {
  @include font-14-line-20;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-14-18 {
  @include font-14-line-18;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-16-24 {
  @include font-16-line-24;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-body-text-2 {
  @include font-14-line-20;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }

}

.text-body-text-3 {
  @include font-16-line-24;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-info {
  @include font-12-line-16;

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-info-table {
  @include base-typography(0.75, 1);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-info-height-0 {
  @include base-typography(0.75, 0);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.text-size-14-h-0 {
  @include base-typography(0.875, 0);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

@include respond-to($breakpoints, "sm") {
  .text-title-1 {
    @include font-30-line-35;
  }

  .text-title-3 {
    @include font-16-line-24;
  }

  .text-title-4 {
    @include font-14-line-20;
  }
}

@include respond-to($breakpoints, "md") {
  .text-title-1 {
    @include font-30-line-35;
  }
}

@include respond-to($breakpoints, "lg") {
  .text-title-1 {
    @include font-40-line-45;
  }

  .text-title-3 {
    @include font-18-line-28;
  }

  .text-title-4 {
    @include font-16-line-24;
  }
}

@include respond-to($breakpoints, "xl") {
  .text-title-1 {
    @include font-30-line-35;
  }

  .text-title-3 {
    @include font-20-line-24;
  }

  .text-title-4 {
    @include font-20-line-24;
  }
}

@include respond-to($breakpoints, "xxl") {
  .text-title-1 {
    @include font-30-line-35;
  }
}

@include respond-to($breakpoints, "3xl") {
  .text-title-1 {
    @include base-typography(3.2, 3.6);
  }
}

%btn-border-radius-default {
  border-radius: 4px !important;
}

.btn-size-small {
  @include base-typography(0.875, 1.125);
  @include detect-button(small);

  &.text-weight-strong {
    @extend .text-weight-strong;
  }
}

.btn-size-normal {
  @extend .text-button;
  @include detect-button(normal)
}

.btn-size-large {
  @extend .text-button;
  @include detect-button(large)
}

.btn-v2d-save-small {
  padding: 0 1.40625rem !important;
  height: 1.875rem !important;

  span:last-child {
    @extend .text-v2d-buttonSmall-semibold;
    @extend .v2d-text-weight-semibold;
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-main {
  @extend %btn-border-radius-default;
  @extend .text-button;
  @include base-text-weight(strong);
  border: inherit !important;

  &.btn-icon-only {
    width: inherit !important;
  }

  &.btn-main-small {
    padding: 6px 20px !important;
    height: 30px !important;
  }

  &.btn-main-normal {
    padding: 8px 24px !important;
    height: 34px !important;
  }

  &.btn-main-big {
    padding: 10px 28px !important;
    height: 38px !important;
  }

  &.btn-icon-only.btn-main-small {
    width: 20px !important;
    height: 20px !important;
    padding: 2px !important;
  }

  &.btn-icon-only.btn-main-normal {
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
  }

  &.btn-icon-only.btn-main-big {
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
  }

  &.btn-main-responsive {
    @media screen and (max-width: 576px) {
      padding: 0.25rem !important;
      height: 1.5rem !important;
    }

    span:nth-child(2) {
      @apply hidden md:inline-block;
    }
  }

  &.btn-main-icon {
    > .anticon {
      max-width: 16px !important;
      max-height: 16px !important;

      @media screen and (max-width: 576px) {
        width: 16px !important;
        height: 16px !important;
      }
    }

    > .anticon + span {
      margin-left: 10px !important;
    }
  }

  &.btn-main-auto-icon {
    padding: 4px !important;
    height: auto !important;

    > .anticon {
      max-width: 30px !important;
      max-height: 30px !important;

      @media screen and (max-width: 576px) {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }

  &.btn-icon-only {
    width: inherit !important;
  }

  &.btn-responsive-p-small {
    //@extend %btn-responsive-p-small;
  }

  span {
    color: $color-white;

    > img {
      filter: brightness(0) invert(1);
    }
  }

  &:hover, &:focus {
    color: $color-white !important;
    background: $btn-main-secondary !important;
  }

  &.btn-main-disable {
    color: $color-white !important;
    background: rgba($color-gray2, 0.5) !important;
  }

  &.btn-bg-geodetic {
    background-color: $color-geodetic-bg-primary !important;
    margin-left: 1rem;
    @extend .btn-v2d-save-small;

    &.btn-marker-footer {
      padding: 0 1rem !important;
    }

    &.btn-v2d-icon-only {
      padding: 0 !important;
      height: 2rem !important;
      width: 2rem !important;
    }

    &.icon-vertical-base {
      .anticon {
        vertical-align: bottom;
      }
    }
  }
}

.btn-outline-main {
  @extend %btn-border-radius-default;
  @extend .text-button;
  @include base-text-weight(strong);
  border: 1px solid $color-primary !important;
  color: $color-text-dark-2 !important;

  &.btn-outline-icon {
    > .anticon {
      max-width: 16px !important;
      max-height: 16px !important;

    }

    > .anticon + span {
      margin-left: 10px !important;
    }
  }

  &.btn-outline-responsive {
    > .anticon {
      @apply md:w-4 md:h-4;
    }

    span:nth-child(2) {
      @apply hidden md:inline-block;
    }
  }

  &.btn-responsive-p-small {
    @extend %btn-responsive-p-small;
  }

  &:hover, &:focus {
    color: $color-white !important;
    background: $color-primary !important;
  }

  &.btn-outline-main-disable {
    color: $color-gray2 !important;
    border: 1px solid $color-gray2 !important;
    background: $color-white !important;
  }

  &.btn-out-line-small {
    padding: 6px 20px !important;
    height: 30px !important;
  }

  &.btn-out-line-normal {
    padding: 8px 24px !important;
    height: 34px !important;
  }

  &.btn-out-line-big {
    padding: 10px 28px !important;
    height: 38px !important;
  }

  &.btn-bg-geodetic {
    @extend .btn-v2d-save-small;
    border: 2px solid $color-geodetic-bg-primary !important;
    color: $color-text-dark-2 !important;

    span:last-child {
      color: $color-text-dark-2;
    }

    &:hover, &:focus {
      background: $color-geodetic-hover-header !important;
    }

    &.btn-v2d-icon-only {
      padding: 0 !important;
      height: 2rem !important;
      width: 2rem !important;
    }

    &.icon-vertical-bottom {
      .anticon {
        vertical-align: bottom;
      }
    }

    &.btn-form {
      border: 1px solid $color-text-dark-3 !important;

      &:hover, &:focus {
        background: initial !important;

        span > img {
          transform: scale(1.2);
        }
      }

      &:after {
        box-shadow: 0 0 0 0 rgba($color-geodetic-bg-hover, 0.5) !important;
      }

      span {
        vertical-align: top !important;
      }
    }
  }

  &.btn-popover-menu-app {
    @apply p-1 border-0 shadow-shadow-bg-white absolute rounded  left-0 top-15 #{!important};
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 1), inset 2px 2px 2px rgba(189, 189, 189, 1);
    background-color: rgba(0, 0, 0, 0.66) !important;

    > .anticon {
      @apply w-5 h-5 inline-block max-w-full max-h-full #{!important};
    }
  }

  &.btn-shortcut-v2d {
    @apply p-1 border-0 shadow-shadow-bg-white bg-white absolute rounded-16 #{!important};
    border-radius: 4px;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 1), inset 2px 2px 2px rgba(189, 189, 189, 1);

    @media screen and (max-width: 1194px) {
      display: none;
    }

    &.contour {
      @apply bottom-16 right-10 #{!important};
    }

    &.rotate {
      @apply top-28 right-10 #{!important};
    }

    &:hover {
      > .anticon {
        .btn-ct-active {
          filter: invert(78%) sepia(7%) saturate(24%) hue-rotate(1deg) brightness(90%) contrast(91%);
        }

        .btn-ct-disable {
          filter: invert(54%) sepia(89%) saturate(265%) hue-rotate(351deg) brightness(104%) contrast(91%);
        }
      }
    }

    > .anticon {
      @apply max-w-max max-h-max inline-block #{!important};
    }
  }
}

.ant-btn-text {

  &.tm3d {
    @apply left-0 top-20 bg-dark1 #{!important};
  }

  &.btn-popover-menu-web {
    @apply absolute left-3 top-2.5 z-10;
    border-radius: 4px;
  }
}

.btn-text-icon-only {
  padding: 0 !important;
  width: 2rem !important;
}

.input-main {
  height: 54px !important;
  background-color: $color-text-dark-4 !important;
  border-radius: 4px;
  @include font-14-line-18;

  &.input-bg-white {
    background-color: $color-white !important;
  }

  &.input-h-40 {
    height: 40px !important;
  }

  &.input-h-18 {
    height: 1.125rem !important;
  }

  &.input-radius-4 {
    border-radius: 4px !important;
  }

  &.input-radius-8 {
    border-radius: 8px !important;
  }

  &.input-border-half {
    border: 0.5px solid #4F4F4F;
  }

  &.input-border-0 {
    border: inherit !important;
  }

  .ant-input {
    background: transparent !important;
  }

  &::placeholder {
    @include font-14-line-18;
  }

  &.input-v2d {
    &:hover, &:focus, &.ant-input-affix-wrapper-focused {
      border-color: $color-geodetic-bg-hover !important;
      box-shadow: 0 0 0 2px rgba($color-geodetic-bg-hover, 0.2) !important;
    }

    &.input-number {
      @apply w-56 #{!important};
    }
  }
}

.input-under-line-main {
  padding: 0 !important;
  //filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

  .ant-input-prefix {
    margin-right: 16px !important;
  }

  &.ant-input-affix-wrapper {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: inherit !important;
    border-bottom: 0.5px solid $color-text-dark-5 !important;
  }

  &.ant-input-affix-wrapper-focused {
    box-shadow: 0 2px rgb(0 155 144 / 20%) !important;
  }

  .ant-input {
    background-color: transparent !important;
    @include base-typography(1, 1.5);
  }
}

.input-group-main {

}

.checkbox-main {
  .ant-checkbox {
    @apply rounded #{!important};
    background-color: $color-text-dark-4 !important;

    &.ant-checkbox-checked {
      background-color: $color-primary !important;
    }
  }

  .ant-checkbox-inner {
    background-color: transparent !important;
  }

  &.checkbox-main-bg-BDBDBD-h-24 {
    .ant-checkbox {
      font-size: 24px !important;
      background-color: $color-text-dark-3 !important;

      &.ant-checkbox-checked {
        background-color: $color-primary !important;
      }

      .ant-checkbox-inner {
        @apply w-6 h-6 #{!important};

        &::after {
          top: 43% !important;
          left: 22.5% !important;
          width: 8px !important;
          height: 14px !important;
        }
      }
    }
  }


  .ant-checkbox-inner {
    background-color: transparent !important;
  }
}

.checkbox-v2d-main {
  &.margin-b-8 {
    margin-bottom: 0.5rem;
  }

  &.display-flex {
    display: flex !important;
  }

  &.w-24-h-24 {
    .ant-checkbox {
      @apply w-6 h-6;

      input {
        @apply w-6 h-6 #{!important};
      }
    }

    .ant-checkbox-inner {
      @apply w-6 h-6 #{!important};

      &:after {
        @apply w-2 h-4 #{!important};
      }
    }
  }

  &.label-ellipse {
    .ant-col {
      .ant-space {
        display: block !important;
      }
    }

    label {
      @apply overflow-hidden overflow-ellipsis whitespace-nowrap w-32 #{!important};
    }
  }

  .ant-checkbox {
    background-color: $color-text-dark-4 !important;
    border-radius: 4px;

    &.ant-checkbox-checked {
      background-color: $color-geodetic-bg-primary !important;

      &::after {
        border: 1px solid $color-geodetic-bg-primary !important;
      }
    }
  }

  .ant-checkbox-inner {
    background-color: transparent !important;
  }

  .ant-checkbox-input:focus + .ant-checkbox-inner {
    background-color: transparent !important;
    border-color: $color-geodetic-bg-primary !important;
  }

  &:hover, .ant-checkbox-wrapper:hover {
    .ant-checkbox-inner {
      border-color: $color-geodetic-bg-primary !important;
    }
  }

  .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-checked .ant-checkbox-inner {
    border: 1px solid $color-geodetic-bg-primary !important;
  }
}


.fix-text-color {
  color: $color-white !important;
}

.menu-main {
  &.menu-item-h-auto > {
    .ant-menu-item {
      height: auto !important;
      color: $color-white !important;
    }
  }

  &.ant-menu-inline-collapsed > {
    .ant-menu-item > {
      .ant-menu-title-content {
        display: none !important;
      }
    }
  }

  &.menu-bg-transparent {
    background: transparent !important;
  }

  &.menu-item-mb-4 {
    .ant-menu-item {
      margin-bottom: 16px !important;
    }
  }

  &.menu-item-p-0 > {
    .ant-menu-item {
      padding: inherit !important;
    }
  }

  &.menu-item-p-no-icon > {
    .ant-menu-item {
      padding: 12px 16px 12px 24px !important;
    }
  }

  &.menu-item-gap-3 > {
    .ant-menu-item {
      @apply gap-3;
    }
  }

  &.menu-item-no-icon {
    span.nil-icon {
      @apply rounded flex items-center justify-center w-8 h-8 bg-white;
      font-size: 1.125rem;
      font-weight: 600;
      color: $color-bg-main-1;
      line-height: 24px;
    }
  }

  &.menu-border-selected-r-none > {
    .ant-menu-item-selected::after {
      transform: inherit !important;
      opacity: 0 !important;
      transition: inherit !important;
    }
  }

  &.menu-border-r-none {
    border-right: inherit !important;
  }

  .ant-menu-item {
    @apply flex gap-4 3xl:gap-6 items-center;
    width: 100% !important;
    height: 3rem !important;
    color: $color-white !important;
    margin-bottom: 1rem !important;
    margin-top: inherit !important;

    @include respond-to($breakpoints, "3xl") {
      padding-left: 40px !important;
    }

    &:last-child {
      margin-bottom: inherit !important;
    }

    + span {
      margin-left: inherit !important;
    }
  }

  .ant-menu-title-content {
    @include font-16-line-24;
    @include base-text-weight(strong);
    @apply max-h-12 ml-0 #{!important};
  }

  .ant-menu-item::before {
    border-left: 0.5rem solid #F89633;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px 0 0 2px;
    transform: scaleY(0.0001);
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    content: '';
  }

  .ant-menu-item-selected::before {
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }

  &.menu-blog {
    .ant-menu-item {
      color: $color-text-dark-2 !important;
    }

    .ant-menu-item-selected {
      background-color: rgba(192, 191, 191, 0.2) !important;
    }
  }
}

.menu-v2d {
  .ant-menu-item {
    @apply flex gap-6 items-center;
    margin-bottom: inherit !important;
    margin-top: inherit !important;

    + span {
      margin-left: inherit !important;
    }
  }

  &.menu-main-geodetic {
    //display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.75rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: $color-geodetic-map-menu !important;
    transition: inherit !important;

    list-style-type: none;
    display: flex;
    justify-content: center;

    .ant-menu-item {
      transform: inherit !important;
      transition: inherit !important;
      margin: 1rem 0 !important;
      height: 2rem !important;
      width: 2rem !important;
      padding: 4px !important;
      display: list-item;
      top: 0;

      &::before {
        border: inherit !important;
      }

      &:hover {
        background: $color-geodetic-hover-main !important;
        border-radius: 4px;
      }

      .ant-menu-title-content {
        display: none;
      }
    }

    .ant-menu-item-selected {
      background-color: $color-white !important;
      border-left: 0 !important;
      border-radius: 4px;
      vertical-align: sub !important;

      span {
        @apply block  #{!important};
      }

      span > {
        img {
          filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%) !important;
          @apply w-6 h-6 min-w-0 #{!important};
        }
      }
    }
  }

  &.menu-header-v2d {
    background-color: $color-text-dark-1 !important;
    transition: inherit !important;
    height: 3.75rem !important;
    display: inline-block;
    flex: 1;
    border: 0;

    .ant-menu-item {
      height: 1.5rem;
      padding-left: 1.3125rem !important;
      vertical-align: middle;

      &::after {
        border-bottom: initial !important;
      }

      &::before {
        border: inherit !important;
      }
    }

    .ant-menu-item:hover, .ant-menu-submenu:hover {
      span > {
        img {
          transform: scale(calc(28 / 24))
        }
      }

      &.ant-menu-submenu:hover {
        background-color: $color-geodetic-hover-header !important;
      }
    }
  }

  &.menu-tool {
    flex: none;
    padding-right: 2.5rem;

    .ant-menu-item, .ant-menu-submenu {
      border-radius: 4px;
      margin-left: 6px;
      padding: 8px !important;
      box-sizing: initial !important;
      margin-top: 8px !important;

      span:first-child {
        display: block !important;
      }

      &:hover {
        background: $color-geodetic-hover-header !important;
      }
    }

    .ant-menu-item-selected {
      background-color: $color-geodetic-bg-primary !important;

      &::after {
        border-bottom: initial !important;
      }

      &::before {
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }

    @media screen and (max-width: 1194px) {
      @apply absolute right-0 top-12 pr-0 bg-transparent #{!important};

      .ant-menu-item, .ant-menu-submenu, .ant-menu-item-only-child {
        @apply m-0 bg-bg-button block w-6 h-6 p-1 mt-3 #{!important};

        &.ant-menu-item-disabled {
          @apply bg-dark50 #{!important};

          &:hover, &:active, &:focus {
            span > {
              img {
                transform: initial;
              }
            }
          }
        }

        &:hover {
          span > {
            img {
              transform: scale(1.05)
            }
          }

          &.ant-menu-submenu:hover {
            background-color: $color-geodetic-hover-header !important;
          }
        }

        span:first-child {
          @apply mt-px #{!important};
        }

        &:after {
          content: initial !important;
        }

        .ant-menu-submenu-title {
          @apply w-6 h-6 p-0 m-0 #{!important};

          &:hover, &:active {
            @apply bg-inherit text-inherit #{!important};
          }

          span {
            @apply static #{!important};

            > img {
              @apply w-5 h-5 min-w-min min-h-min ml-0.75 mt-0 #{!important};
            }
          }

          .ant-menu-submenu-arrow {
            @apply hidden  #{!important};
          }
        }
      }
    }
  }

  &.menu-info {
    @media screen and (max-width: 1194px) {
      @apply h-12 w-full flex-none border-none #{!important};

      .ant-menu-item {
        height: initial !important;
        @apply ml-8 #{!important};
      }
    }

    .menu-title {
      padding-left: 18px !important;
      vertical-align: text-bottom;
    }
  }

  &.menu-context {
    .ant-menu-item {
      gap: 0.5rem !important;

      &:active {
        background: rgba($color-geodetic-bg-primary, 0.5) !important;
      }

      &:hover {
        color: $color-geodetic-bg-primary !important;
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px $color-geodetic-bg-primary !important;
      }
    }

    .ant-menu-light, .ant-menu-item-active {
      color: $color-geodetic-bg-primary !important;
    }
  }

  &.menu-part {
    .ant-menu-item {
      @apply p-0 #{!important};

      &:hover, &:active {
        @apply bg-dark4 p-0 #{!important};
      }
    }

    .ant-menu-item-selected {
      @apply bg-dark4 #{!important};
    }
  }
}

.tag-main {
  background: $color-white !important;
  box-shadow: 3px 3px 5px rgba(79, 79, 79, 0.1);
  border-radius: 3px !important;
  height: 36px !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 !important;
  border: none !important;
  margin-right: 36px !important;

  &.tag-no-icon {
    height: auto !important;
    padding: 4px 12px !important;

    span {
      margin-left: inherit !important;
    }
  }

  &::before {
    border-left: 4px solid $color-bg-main-3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px 0 0 2px;
    content: '';
  }

  span:first-child {
    margin-left: 18px;
  }

  .ant-tag-close-icon {
    margin: 0 14px !important;

    svg {
      width: 10px;
      height: 10px;
      fill: $color-text-dark-2;
    }
  }
}

.tabs-main {
  &.tabs-nav-border-none > {
    .ant-tabs-nav {
      &::before {
        border-bottom: inherit !important;
      }
    }
  }

  .ant-tabs-nav {
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        @include font-16-line-24;
        color: $color-text-dark-5 !important;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $color-text-dark-2 !important;
      }

      .ant-tabs-ink-bar {
        background: $color-bg-main-3 !important;
      }
    }
  }
}

.ant-tabs-v2d {
  .ant-tabs-nav {
    .ant-tabs-tab {
      padding: 8px 0 !important;

      .ant-tabs-tab-btn {
        @extend .text-v2d-buttonSmall-semibold;
        @extend .v2d-text-weight-semibold;

        &:focus {
          color: $color-geodetic-bg-primary !important;
        }
      }
    }

    div > .ant-tabs-ink-bar {
      width: 500px;
    }
  }

  div > .ant-tabs-tabpanel {
    .ant-card {
      margin-top: 0.625rem;
    }
  }

  &.p-20 {
    padding: 1.25rem !important;
  }

  &.menu-item {
    .ant-tabs-nav {
      @apply bg-dark2 px-2 mb-0 #{!important};
      .ant-tabs-tab + .ant-tabs-tab {
        @apply ml-6 #{!important};
      }
    }
  }

  &.tabs-tm3d {
    .ant-tabs-nav-wrap {
      @apply justify-center #{!important};
    }
  }
}

.fix-ant-image {
  .ant-image-img {
    height: 100% !important;
  }
}

.anchor-main {
  .ant-anchor {
    @include font-16-line-22;
  }
}

.select-main {
  @apply relative;
  background: $color-white;
  //border-radius: 0.25rem 0.25rem 0 0;
  filter: drop-shadow(3px 3px 3px rgba(79, 79, 79, 0.1));

  .ant-select-selector {
    height: auto !important;
    padding: 8px 32px 8px 20px !important;

    .ant-select-selection-placeholder {
      align-self: center;
    }
  }

  &::before {
    border-left: 0.25rem solid $color-bg-main-3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    content: '';
  }

  &.select-h-40 {
    .ant-select-selector {
      height: 2.5rem !important;
      align-items: center !important;
      padding-left: 0.75rem !important;
    }
  }

  &.select-radius-4 {
    .ant-select-selector {
      border-radius: 4px !important;
    }

    &::before {
      border-left: initial !important;
    }
  }

  &.select-v2d {
    &.ant-select-focused {
      .ant-select-selector {
        border-color: $color-geodetic-bg-hover !important;
        box-shadow: 0 0 0 2px rgba($color-geodetic-bg-hover, 0.2) !important;
      }
    }

    &:hover {
      .ant-select-selector {
        border-color: $color-geodetic-bg-primary !important;
      }
    }
  }
}

.select-dropdown-v2d {
  div > .ant-select-item-option-selected, .ant-select-tree-node-selected {
    background-color: rgba($color-geodetic-bg-hover, 0.2) !important;
  }
}

.ranger-picker-main {
  height: 2.5rem !important;
  padding: 0 1rem !important;
  background: $color-text-dark-4 !important;

  .ant-picker-input > {
    input {
      @extend .text-body-text-3;
    }
  }

  &.ranger-picker-border {
    border: 0.03125rem solid $color-text-dark-2 !important;
  }

  &.ranger-picker-border-0 {
    border: none !important;
  }


  &.ranger-picker-radius {
    border-radius: 0.5rem !important;
  }
}

.ranger-time-picker-main {
  @apply text-dark2 h-10 px-4 #{!important};

  .ant-picker-input > {
    input {
      @extend .text-body-text-3;
    }
  }

  &.ranger-time-picker-border {
    border: 1px solid $color-text-dark-2 !important;
  }

  &.ranger-time-picker-border-0 {
    border: inherit !important;
  }

  &.ranger-time-picker-radius {
    border-radius: 0.25rem !important;
  }

  &.ranger-time-picker-radius-8 {
    border-radius: 0.5rem !important;
  }

  &.ranger-time-picker-p-10-16 {
    padding: 10px 16px !important;
  }

  &.ranger-time-picker-bg-dark4 {
    background: $color-text-dark-4 !important;
  }
}

.date-picker-main {
  color: $color-text-dark-2 !important;
  @include font-14-line-20;

  .ant-picker-input {
    input {
      &::placeholder {
        color: $color-text-dark-5 !important;
      }
    }

    .ant-picker-suffix {
      color: $color-text-dark-5 !important;
    }
  }

  &.date-picker-border {
    border: 0.0625rem solid $color-text-dark-2 !important;
  }

  &.date-picker-border-969696 {
    border: 1px solid #969696 !important;
  }

  &.date-picker-border-0 {
    border: inherit !important;
  }

  &.date-picker-radius {
    border-radius: 0.25rem !important;
  }

  &.date-picker-radius-8 {
    border-radius: 0.5rem !important;
  }

  &.date-picker-h-40 {
    //padding: 0 0.625rem 0 0.75rem !important;
    height: 2.5rem !important;
  }

  &.date-picker-bg-dark4 {
    background: $color-text-dark-4 !important;
  }

  &.date-picker-p-12-16 {
    padding: 12px 16px !important;
  }

  &.date-picker-p-10-16 {
    padding: 10px 16px !important;
  }
}


.time-picker-main {
  color: $color-text-dark-2 !important;
  @include font-14-line-20;

  @extend %kInputAntPicker;

  &.time-picker-h-40 {
    height: 2.5rem !important;
  }

  &.time-picker-p-10-16 {
    padding: 10px 16px !important;
  }

  &.time-picker-border-969696 {
    border: 1px solid #969696 !important;
  }
}

.date-picker-dropdown-main {
  .ant-picker-header {
    button {
      font-size: 16px !important;
      font-weight: 600 !important;
      color: $color-primary !important;
    }
  }

  .ant-picker-body {
    .ant-picker-content {
      thead > tr > th {
        font-size: 12px !important;
        font-weight: 600 !important;
        color: $color-primary !important;
      }

      tbody > tr > td > div {
        font-size: 12px !important;
        font-weight: 600 !important;
        border-radius: 50% !important;
      }

      .ant-picker-cell-in-view {
        color: $color-text-dark-2 !important;
      }

      tbody > tr > td:not(.ant-picker-cell-in-view) > div {
        color: $color-text-dark-3 !important;
      }
    }
  }

  &.date-picker-dropdown-no-rounded {
    .ant-picker-body {
      .ant-picker-content {
        tbody > tr > td > div {
          border-radius: inherit !important;
        }
      }
    }
  }
}

.modal-main {
  .ant-modal-content {
    .ant-modal-close {
      top: 0 !important;
      right: 0.1rem !important;

      @include respond-to($breakpoints, "xl") {
        top: 0.5rem !important;
        right: 0.75rem !important;
      }

      .ant-modal-close-x {
        span > {
          svg {
            fill: $color-text-dark-2 !important;
          }
        }

        &:hover {
          span > {
            img {
              transform: scale(calc(28 / 24))
            }
          }
        }
      }
    }
  }

  .ant-modal-header {
    @apply flex items-center;
    height: 36px !important;
    background: $color-text-dark-4 !important;
    padding: 8px 16px !important;

    @include respond-to($breakpoints, "xl") {
      height: 3.375rem !important;
    }

    .ant-modal-title {
      @extend .text-title-3;
      @include base-text-weight(strong);
    }
  }

  &.modal-header-shadow {
    .ant-modal-header {
      box-shadow: 1px 1px 2px rgba(79, 79, 79, 0.15);
    }
  }

  &.modal-header-center {
    .ant-modal-header {
      @apply flex justify-center;
    }
  }

  &.modal-header-bg-white {
    .ant-modal-header {
      background: $color-white !important;
    }
  }

  &.modal-body-bg {
    .ant-modal-content {
      .ant-modal-body {
        background: rgba($color-text-dark-4, 0.5) !important;
      }
    }
  }

  &.modal-body-p-0 {
    .ant-modal-content {
      .ant-modal-body {
        padding: 0 !important;
      }
    }
  }

  &.modal-form-share {
    .ant-modal-header {
      .ant-modal-title {
        @include font-16-line-22;
        @include base-text-weight(strong);
      }
    }

    .ant-modal-content {
      .ant-modal-body {
        @apply p-3 sm:py-4 sm:px-5 md:px-6 lg:px-8 lg:pt-6 #{!important};
      }
    }
  }

  &.modal-atl-machine-form {
    width: 642px;

    .ant-modal-header {
      .ant-modal-title {
        @include font-16-line-22;
        @include base-text-weight(strong);
      }
    }

    .ant-modal-content {
      .ant-modal-body {
        @apply py-3 px-2 sm:pt-6 sm:pb-4 md:px-6 lg:px-4 lg:py-6 #{!important};
      }
    }
  }

  &.modal-full-height {
    .ant-modal {
      height: 100vh !important;
      max-width: 100vw !important;
      width: 100vw !important;
      margin: 0 !important;
      top: 0 !important;
      overflow: hidden !important;
      padding-bottom: inherit !important;

      .ant-modal-content {
        height: calc(100% - 60px) !important;
        width: 100vw !important;
        margin: 60px 0 0 0 !important;
        overflow: hidden !important;

        .ant-modal-body {
          height: calc(100% - 36px) !important;

          @include respond-to($breakpoints, "xl") {
            height: calc(100% - 56px) !important;
          }
        }
      }

      .ant-modal-footer {
        display: none;
      }
    }

    &.ant-modal-centered {
      &::before {
        content: unset !important;
      }
    }
  }
}

.ant-modal-v2d {
  .ant-modal-content {
    .ant-modal-close {
      top: 0 !important;
      right: 0 !important;

      .ant-modal-close-x {
        width: 18px !important;
        height: 18px !important;
        margin: 0.6875rem 1rem;
        display: flex;
      }
    }
  }

  .ant-modal-header {
    height: 2.5rem !important;
    padding-left: 1rem;

    .ant-modal-title {
      @include font-16-line-20;
      @extend .v2d-text-weight-semibold;
      height: 1.25rem !important;
      width: 100%;
    }
  }

  .ant-modal-body {
    @include font-12-line-18;
  }

  &.header-cursor-draggable {
    .ant-modal-header {
      .ant-modal-title {
        cursor: move;
      }
    }
  }

  &.body-m-16 {
    .ant-modal-body {
      margin: 0.375rem 1rem;
    }
  }

  &.large {
    width: 50rem !important;

    .ant-modal-body {
      padding: 0 !important;
    }

    &.p-body-1rem-0 {
      .ant-modal-body {
        padding: 1rem 1rem 0 !important;
      }
    }

    &.p-body-1 {
      .ant-modal-body {
        padding: 1rem !important;
      }
    }
  }

  &.middle {
    width: 43.75rem !important;

    .ant-modal-body {
      padding: 1rem 1rem 0 !important;
    }

    &.padding-large {
      .ant-modal-body {
        padding: 1.875rem 1.875rem 0 !important;
      }

      .ant-modal-footer {
        @apply pr-7.5 pb-7.5;
      }
    }
  }

  &.small {
    width: 37.5rem !important;

    .ant-modal-body {
      padding: 1rem 1rem 0 !important;
    }
  }
}


.form-item {
  label {
    color: $color-text-dark-2 !important;

    &:before {
      @apply absolute -right-3 #{!important};
    }
  }

  &.label-strong {
    label {
      @include base-text-weight(strong);
    }
  }

  &.form-item-mb-0 {
    @apply mb-0 #{!important};
  }

  &.form-item-mb-3 {
    @apply mb-3 #{!important};
  }

  &.form-item-mb-4 {
    @apply mb-4 #{!important};
  }

  &.form-item-ml-2 {
    @apply ml-2 #{!important};
  }

  &.form-item-mt-4 {
    @apply mt-4 #{!important};
  }

  &.label-w-20 {
    label {
      @apply w-5 #{!important};
    }
  }

  &.form-item-h-4 {
    label, .ant-form-item-control-input {
      min-height: 16px !important;
      @apply h-4 #{!important};
      line-height: 16px;
    }

    @apply h-4 #{!important};

    div.label {
      @apply h-4 #{!important};
    }

    div.ant-form-item-control-input {
      @apply h-4 #{!important};
    }
  }

  &.form-item-h-5 {
    label, .ant-form-item-control-input {
      min-height: 20px !important;
      @apply h-5 #{!important};
      line-height: 20px;
    }

    @apply h-5 #{!important};

    div.label {
      @apply h-5 #{!important};
    }

    div.ant-form-item-control-input {
      @apply h-5 #{!important};
    }
  }

  &.label-typography-body-1 {
    label {
      @include font-14-line-20;
    }
  }

  &.label-typography-body-text-2 {
    label {
      @include font-16-line-22;
    }
  }

  &.label-typography-body-text-3 {
    label {
      @extend .text-body-text-3;
    }
  }

  &.label-typography-font-14-line-18 {
    label {
      @extend .text-14-18;
    }
  }
}

.divider-main {
  border-top: 0.03125rem solid $color-text-dark-5 !important;

  &.divider-with-text {
    border-top: 0 !important;
  }

  &.divider-horizontal-m-0 {
    margin: 0 !important;
  }

  &.divider-horizontal-m-12 {
    @apply my-3 #{!important};
  }

  &.divider-border-6-amber {
    border-top: 6px solid $color-bg-main-3 !important;
  }

  &.divider-border-1-4F4F4F {
    border-top: 1px solid $color-text-dark-2 !important;
  }

  &.divider-border-1-009B90 {
    border-top: 1px solid $color-primary !important;
  }

  &.divider-border-4-amber {
    border-top: 4px solid $color-bg-main-3 !important;
  }

  &.divider-border-half-dark50 {
    border-top: 0.5px solid #969696 !important;
  }

  &.divider-border-min-dark50 {
    border-top: 0.25px solid #969696 !important;
  }

  &.divider-border-half-666666 {
    border-top: 0.5px solid #666666 !important;
  }
}

.drawer-main {
  .ant-drawer-body {
    padding: inherit !important;
  }
}

.drag-main {
  position: relative;

  &::before {
    background: $color-text-dark-4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    opacity: 0;
  }

  &.drag-main-selected::before {
    opacity: 1;
    z-index: 1;
  }
}

.drawer-v2d-main {
  left: 3.75rem !important;
  transition: initial !important;
  z-index: 11 !important;;

  .ant-drawer-content-wrapper {
    transition: initial !important;
  }

  div > .ant-drawer-header {
    background-color: $color-geodetic-bg-primary !important;
    border-radius: 0 !important;
    border: inherit !important;
    height: 3rem;

    .ant-drawer-header-title {
      .ant-drawer-title {
        position: absolute;
        left: 1.5rem;
        top: 0.75rem;
      }

      .ant-drawer-close {
        position: absolute;
        right: 0.6875rem;
        margin-right: 0 !important;
        padding: 0 !important;
        z-index: 20;

        &:hover, &:focus {
          > span {
            img {
              transform: scale(calc(28 / 24))
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1194px) {
    @apply left-0 #{!important};

    .ant-drawer-header {
      @apply py-3 h-10 #{!important};

      .ant-drawer-header-title {
        button {
          span > img {
            @apply w-4.5 h-4.5 #{!important}
          }
        }

        .ant-drawer-title {
          position: initial !important;
        }
      }

      span {
        @include font-16-line-30;
      }
    }
  }

}

.radio-main {
  color: $color-text-dark-2 !important;
  @extend .text-size-14-h-0;

  .ant-radio > .ant-radio-inner {
    background-color: $color-text-dark-3 !important;
    border-color: $color-text-dark-3 !important;
  }

  .ant-radio-checked > .ant-radio-inner {
    background-color: $color-primary !important;
    border-color: $color-primary !important;

    &::after {
      background-color: $color-white !important;
    }
  }

  &.radio-v2d-main {
    .ant-radio-checked::after {
      border-color: $color-geodetic-bg-primary !important;
    }

    .ant-radio-checked > .ant-radio-inner {
      background-color: $color-geodetic-bg-primary !important;
      border-color: $color-geodetic-bg-primary !important;
    }

    .ant-radio-input:focus + .ant-radio-inner {
      background-color: red;
      box-shadow: 0 0 0 2px $color-geodetic-bg-primary !important;
    }
  }

  &.radio-mb-3 {
    label {
      @apply mb-3 #{!important}
    }
  }

  &.radio-switch-base {
    @apply mt-6.5 ml-6 #{!important};

    label {
      @apply h-16 w-11/12 border-none p-0 rounded-xl mr-2  #{!important};

      &::before {
        @apply hidden #{!important};
      }

      &:focus-within {
        @apply shadow-none bg-gray-200 #{!important};
      }

      &:hover {
        @apply bg-gray-200 #{!important};
      }

      &.ant-radio-button-wrapper-checked {
        @apply bg-gray-200 #{!important};
      }

      .ant-space-item {
        span {
          @apply align-text-bottom #{!important};
        }
      }
    }
  }
}

.main-svg {

  &.svg-fill-white {
    svg {
      fill: #FFFFFF;
    }
  }

  &.svg-24 {
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.v2d-text-weight-bold {
  @include v2d-text-weight(bold);
}

.v2d-text-weight-semibold {
  @include v2d-text-weight(semibold);
}

.v2d-text-weight-regular {
  @include v2d-text-weight(default);
}

.text-title-v2d-body-text-2-semibold {
  @include font-16-line-20;

  &.text-weight-strong {
    @extend .v2d-text-weight-semibold;
  }
}

.text-title-header-v2d {
  @include font-20-line-24;
  @apply text-ellipsis text-white #{!important};

  @media screen and (max-width: 1194px) {
    @include font-16-line-30;
    @apply align-middle #{!important};
  }

  &.text-weight-strong {
    @extend .v2d-text-weight-bold;
  }
}

.text-title-v2d-highlight-regular {
  @include font-12-line-18;

  &.text-weight-strong {
    @extend .v2d-text-weight-semibold;
  }
}

.text-v2d-info-text-semibold {
  @include font-10-line-14;

  &.text-weight-strong {
    @extend .v2d-text-weight-semibold;
  }
}

.text-v2d-highlight-semibold {
  @include font-12-line-14;

  &.text-weight-strong {
    @extend .v2d-text-weight-semibold;
  }
}

.text-v2d-buttonSmall-semibold {
  @include font-14-line-18;

  &.text-weight-strong {
    @extend .v2d-text-weight-semibold;
  }
}

.checkbox-v2d-inner-content {
  position: relative !important;
  width: 1.125rem !important;
  height: 1.125rem !important;
  background-color: transparent;
  border: 1.5px solid $color-text-dark-5;
  border-radius: 2px;

  &::after {
    position: absolute !important;
    top: 10px !important;
    left: -4px !important;
    height: 8px;
    width: 11px;
    transform: initial !important;
    border: none !important;
    opacity: initial !important;
  }
}


.tree-v2d-layer {
  padding: 1.625rem 1.5rem !important;

  &.MeasureLayer, &.ProfileLayer {
    max-height: 37vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.BaseLayer {
    @apply p-0 #{!important};
  }

  .ant-tree-treenode-disabled {
    .ant-tree-checkbox {
      .ant-tree-checkbox-inner {
        border: 1px solid $color-text-dark-5;
      }
    }
  }

  .ant-tree-switcher {
    order: 1;
  }

  .ant-tree-treenode-switcher-close {
    padding-bottom: 1.5rem !important;
  }

  .ant-tree-treenode-switcher-open {
    padding-bottom: 0.375rem !important;
  }

  .dragging::after {
    border: initial !important;
  }

  .ant-tree-node-content-wrapper {
    .ant-tree-drop-indicator {
      background-color: $color-geodetic-bg-primary !important;

      &::after {
        border: 2px solid $color-geodetic-bg-primary !important;
      }
    }
  }

  .ant-tree-draggable-icon {
    display: none;
  }

  .profile {
    .ant-tree-draggable-icon {
      display: block !important;
      order: 3 !important;
    }
  }

  .tree-parent {
    display: flex;

    &.ant-tree-treenode-switcher-open {
      @apply pb-2.5 #{!important};
    }

    &.draw {
      margin-left: 0 !important;

      .ant-tree-indent {
        width: 0 !important;
      }
    }

    .ant-tree-checkbox {
      margin: 0 0.75rem 0 0 !important;

      .ant-tree-checkbox-inner {
        border-radius: 4px !important;
        border: 1px solid $color-geodetic-bg-primary;
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }

    .ant-tree-checkbox-checked {
      &::after {
        border: none;
      }

      .ant-tree-checkbox-inner {
        background-color: $color-geodetic-bg-primary;

        &::after {
          width: 8px !important;
          height: 0.874rem !important;
        }
      }
    }

    .ant-tree-checkbox-indeterminate {
      .ant-tree-checkbox-inner {
        &::after {
          background-color: $color-geodetic-bg-primary !important;
        }
      }
    }

    .ant-tree-node-content-wrapper {
      .ant-tree-title {
        @include font-18-line-20;
        @include v2d-text-weight(semibold);
        margin: auto;
        vertical-align: middle;
      }

      &.ant-tree-node-selected {
        background-color: initial !important;
      }

      &:hover {
        background-color: initial !important;
        color: $color-geodetic-bg-hover !important;
      }
    }
  }

  .tree-child {
    margin: 0 0 5px 2rem !important;
    padding: 6px 0 6px 6px !important;

    .ant-tree-indent, .ant-tree-switcher-noop {
      width: 0 !important;
    }

    &.ant-tree-treenode-leaf-last {
      margin-bottom: 1.125rem !important;
    }

    &.ant-tree-treenode-selected {
      border: 1px solid $color-geodetic-bg-primary !important;
      border-radius: 4px !important;
    }

    .ant-tree-node-content-wrapper {
      @apply overflow-hidden overflow-ellipsis whitespace-nowrap #{!important};

      &:hover {
        background-color: $color-gray;
      }

      .ant-tree-title {
        @include font-16-line-20;
        @include v2d-text-weight(default);
        color: $color-text-dark-3;
        vertical-align: middle;
        white-space: nowrap;
        line-height: initial !important;
      }

      &.ant-tree-node-selected {
        background-color: initial !important;
      }
    }

    .ant-tree-checkbox {
      box-sizing: border-box;

      .ant-tree-checkbox-inner {
        @extend .checkbox-v2d-inner-content;
      }
    }

    .ant-tree-checkbox-checked {
      box-sizing: border-box !important;

      &::after {
        border: none;
      }

      .ant-tree-checkbox-inner {
        position: relative !important;
        border: 1px solid $color-geodetic-bg-primary !important;

        &::after {
          background: $color-white url("../assets/image/v2d/ic_check_square_offset.svg");
        }
      }
    }

    &.ant-tree-treenode-checkbox-checked {
      .ant-tree-node-content-wrapper {
        .ant-tree-title {
          color: $color-text-dark-2;
        }
      }
    }
  }

  .draggable {
    .ant-tree-draggable-icon {
      display: inline-block !important;
    }
  }

  @media screen and (max-width: 1194px) {
    &.MeasureLayer, &.ProfileLayer {
      @apply max-h-screen #{!important};
    }

    .tree-parent {
      @apply items-center #{!important};

      .ant-tree-checkbox {
        .ant-tree-checkbox-inner {
          @apply w-4 h-4 rounded-sm #{!important};
        }
      }

      .ant-tree-checkbox-checked {
        .ant-tree-checkbox-inner {
          &::after {
            @apply w-1 h-2 #{!important};
          }
        }
      }

      .ant-tree-node-content-wrapper {
        .ant-tree-title {
          @include font-12-line-22;
          @include base-text-weight(strong);
        }
      }
    }
    .tree-child {
      margin: 0 0 5px 1rem !important;

      .ant-tree-node-content-wrapper {
        .ant-tree-title {
          @include font-12-line-20;
          display: initial !important;
        }
      }

      &.ant-tree-treenode-leaf-last {
        @apply mb-4 #{!important};
      }
    }
  }
}

.table-v2d-profile-save {
  thead {
    tr {
      th {
        @extend .text-v2d-highlight-semibold;
        @include v2d-text-weight(semibold);
        height: 1.875rem !important;
        padding: 0 !important;
        padding-left: 24px !important;

        &:before {
          background-color: $color-text-dark-2 !important;
        }
      }
    }
  }

  tbody {
    td {
      @include font-12-line-18;

      .ant-btn {
        span {
          @include font-12-line-18;
          vertical-align: top;
        }
      }
    }
  }

  .ant-pagination {

    li {
      width: 22px !important;
      height: 22px !important;
      min-width: inherit !important;

      button {
        span {
          display: block !important;
        }
      }
    }

    .ant-pagination-item {
      border-color: $color-geodetic-bg-primary;

      a {
        color: $color-text-dark-2;
        @include font-12-line-18;

      }
    }
  }
}

.dropdown-menu-main {
  &.dropdown-atl-menu {
    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        min-width: 280px;
        padding: 12px 12px 12px 24px !important;
        color: $color-text-dark-2 !important;
        @include font-16-line-22;

        &:not(:nth-last-of-type(1),:nth-last-of-type(2),:nth-last-of-type(3)) {
          @include base-text-weight(strong);
        }

        span:is(.ant-dropdown-menu-title-content) {
          margin-left: 16px !important;
        }
      }
    }
  }

  &.dropdown-atl-language {
    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        min-width: 200px;
        padding: 12px 12px 12px 24px !important;
        color: $color-text-dark-2 !important;
        @include font-14-line-20;

        span:is(.ant-dropdown-menu-title-content) {
          @apply ml-3 #{!important};
        }
      }
    }
  }
}

%base-wrap-ant-select-selector {
  @include font-14-line-20;
  @apply text-dark2 #{!important};

  .ant-select-selector {
    @apply h-10.5 bg-dark4 px-4 rounded-lg border-none #{!important};
    .ant-select-selection-placeholder, .ant-select-selection-item {
      @apply leading-10 #{!important};
    }

    input {
      @apply h-10 #{!important};
    }
  }
}

.cascader-main {
  @extend %base-wrap-ant-select-selector;
}

.select-form-main {
  @extend %base-wrap-ant-select-selector;

  .ant-select-arrow {
    right: 1rem !important;
    color: $color-text-dark-5 !important;
  }

  &.select-form-bg-white {
    .ant-select-selector {
      @apply bg-white #{!important};
      .ant-select-selection-placeholder {
        color: $color-text-dark-5 !important;
      }
    }
  }

  &.select-form-rounded {
    .ant-select-selector {
      @apply rounded #{!important};
    }
  }

  &.select-form-border-969696 {
    .ant-select-selector {
      border: 1px solid #969696 !important;
    }
  }
}

.ranger-picker-wrapper-main {
  @media screen and (max-width: 575px) {
    .ant-picker-range-wrapper {
      @apply justify-center;

      .ant-picker-range-arrow {
        display: none !important;
      }

      .ant-picker-panels {
        flex-direction: column !important;
      }
    }

    .ant-picker-datetime-panel {
      flex-direction: column;
    }
  }
}

.switch-v2d-main {
  background-color: $color-geodetic-bg-primary !important;

  &.ant-switch-checked {
    background-color: $color-geodetic-bg-primary !important;

    &:focus {
      box-shadow: 0 0 0 2px $color-geodetic-bg-hover !important;
    }
  }

  &.w-30-h-16 {
    @apply h-4 w-18px #{!important};
  }
}

.notification-main {
  border-radius: 0.5rem !important;

  .ant-notification-notice-close {
    @apply top-2 right-2 #{!important};
  }

  &.with-icon {
    @apply w-75 px-2 py-2 #{!important};

    .ant-notification-notice-message {
      @apply my-1 ml-8 #{!important};
    }

    .ant-notification-notice-description {
      @apply ml-8 #{!important};
    }
  }

  @media screen and (max-width: 1194px) {
    @apply w-75 h-20 p-1 m-0 -bottom-3 -right-3 #{!important};

    .ant-notification-notice-message {
      @apply my-1 #{!important};
    }
  }
}

.card-meta-v2d {
  div > .ant-space-item {
    max-width: 15rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-card-meta-title {
    padding-right: 2rem !important;
    margin-bottom: 0 !important;
  }

  .ant-card-meta-avatar {
    @apply p-0 mr-2 #{!important};

    span:first-child {
      border-radius: 8px !important;
    }
  }

  .ant-card-meta-description {
    div > button {
      padding: 0 0.5rem;
      height: 1rem;
      border: initial;
      vertical-align: text-top;

      &:active {
        background-color: transparent;

        img {
          filter: invert(85%) sepia(14%) saturate(2179%) hue-rotate(323deg) brightness(88%) contrast(98%);
        }
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: 1194px) {
    .ant-card-meta-avatar {
      @apply w-18 h-18 #{!important};
    }
  }
}

.popconfirm-content-main {
  div > button {
    border-color: $color-geodetic-bg-primary !important;

    &.ant-btn-primary {
      background-color: $color-geodetic-bg-primary !important;
    }
  }
}

.row-v2d-profile {
  margin: 1rem 0.5rem 0 !important;
  background: rgba(244, 244, 244, 0.5);

  .ant-col {
    margin-left: 0 !important;
    padding: 0 !important;

    h1 {
      background-color: $color-gray;
      padding: 0.5rem 0 0.75rem 1.5rem;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        height: 1.25rem;
        background: $color-text-dark-2;
      }
    }

    &:last-child {
      h1 {
        &:after {
          width: 0 !important;
        }
      }
    }

    label {
      margin-left: 0 !important;
      padding: 4px 0.75rem !important;

      .ant-checkbox + span {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ant-checkbox {
        box-sizing: border-box;

        .ant-checkbox-inner {
          @extend .checkbox-v2d-inner-content;

          &::after {
            background: $color-gray url("../assets/image/v2d/ic_check_square_offset_off.svg");
          }
        }
      }

      .ant-checkbox-checked {
        box-sizing: border-box !important;
        background-color: initial !important;

        &::after {
          border: none !important;
        }

        .ant-checkbox-inner {
          position: relative !important;

          &::after {
            background: $color-gray url("../assets/image/v2d/ic_check_square_offset.svg");
          }
        }
      }
    }
  }
}

.atl-icon-color-default {
  filter: invert(30%) sepia(0%) saturate(399%) hue-rotate(146deg) brightness(98%) contrast(92%);
}

.atl-icon {
  &.atl-icon-white {
    @extend %icon-color-filter-white;
  }

  &.atl-icon-color-BDBDBD {
    filter: invert(78%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(97%) contrast(93%);
  }

  &.atl-icon-color-geodetic {
    filter: invert(63%) sepia(15%) saturate(1353%) hue-rotate(351deg) brightness(102%) contrast(92%);
  }

  &.atl-icon-color-009B90 {
    filter: invert(60%) sepia(60%) saturate(7415%) hue-rotate(151deg) brightness(93%) contrast(101%);
  }

  &.atl-icon-color-hex-969696 {
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(83%) contrast(80%);
  }
}

.timepicker-popup-main {
  .ant-picker-footer {
    .ant-picker-ok {
      display: none;
    }
  }
}

.pagination-main {
  .ant-pagination-item-active {
    font-weight: 500;
    background: $color-geodetic-bg-primary;
    border-color: $color-geodetic-bg-primary;

    &:hover {
      border-color: $color-geodetic-bg-hover !important;

      a {
        color: $color-white !important;
      }
    }

    a {
      color: $color-white;
    }
  }

  .ant-pagination-item:hover {
    border-color: $color-geodetic-bg-primary;

    a {
      color: $color-geodetic-bg-primary;
    }
  }

  .ant-pagination-next:hover, .ant-pagination-prev:hover {
    .ant-pagination-item-link {
      border-color: $color-geodetic-bg-primary;
    }
  }

  .ant-pagination-jump-next, .ant-pagination-jump-prev {
    .anticon {
      color: $color-geodetic-bg-primary !important;
    }
  }
}

.form-item-main {
  .ant-form-item-explain-error {
    text-align: start !important;
  }
}

#view-main {
  @apply overflow-hidden m-0 p-0 w-full h-full top-0 #{!important}
}
