@import "variables";
@import "functions";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
  background-color: rgba(255, 255, 255, 0.9) !important;
  --color-0: rgba(25, 40, 44, 1);
  --color-1: rgba(122, 129, 132, 1);
  --color-2: rgba(57, 71, 75, 1);
  --color-3: rgba(45, 109, 130, 1);
  --color-4: rgba(16, 143, 185, 1);

  --bg-color: var(--color-0);
  --bg-color-1: var(--color-1);
  --bg-color-2: rgb(60, 80, 85);
  --bg-light-color: rgba(48, 61, 65, 1);
  --bg-dark-color: rgba(24, 31, 33, 1);
  --bg-hover-color: var(--color-2);

  --font-color: #cccccc;
  --font-color-2: #ddd;
  --border-color: black;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  background-color: $color-main !important;
}

::placeholder {
  color: $color-text-dark-5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-text-dark-5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $color-text-dark-5;
}

body {
  color: $color-text-dark-2 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

button {
  font-family: 'Open Sans', sans-serif !important;
  color: $color-text-dark-2;
}

input {
  font-family: 'Open Sans', sans-serif !important;
  color: $color-text-dark-2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0,
                    rgba(255, 255, 255, 0.2) 20%,
                    rgba(255, 255, 255, 0.5) 60%,
                    rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    content: '';
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.data-placeholder::after {
  content: " ";
  box-shadow: 0 0 50px 9px rgb(250, 250, 250);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  animation: load 1s infinite;
}

@keyframes load {
  0% {
    left: -100%
  }
  100% {
    left: 150%
  }
}

.ant-dropdown-menu {
  .ant-dropdown-menu-item {
    .ant-card-meta-title {
      margin-bottom: 0;
    }
  }
}

.lg-custom-thumbnails {
  > .lg-outer > .lg-content > .lg-inner > .lg-item > .lg-sub-html {
    position: absolute;
    bottom: inherit !important;
    right: 0;
    left: inherit;
    top: 10%;
    opacity: inherit !important;
    min-width: 100px;
    z-index: inherit;
    color: inherit !important;
    text-align: inherit !important;
    font-size: inherit !important;
    padding: 1rem !important;

    .custom-caption {
      .ant-typography {
        color: red !important;
      }

      .caption-info-left {
        padding-right: 15px;
      }
    }
  }
}

.ant-modal {
  .ant-modal-header {
    padding: 10px 20px;
  }

  .ant-modal-close-x {
    line-height: 40px;
    width: 40px;
    height: 40px;
  }
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
  margin: inherit;
}

.card-like-fb {
  max-width: 940px !important;
}

.tl-sc-ct {
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    background-clip: content-box;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.custom-modal {
  overflow: inherit !important;

  .ant-modal > .ant-modal-content {
    height: 100%;

    .ant-modal-body {
      height: calc(100% - 40px) !important;
    }
  }
}

.custom-map-notification {
  .ant-notification-notice-close {
    top: 4px;
    right: 8px;
  }
}

.ant-btn-sm {
  font-size: 13px;
}

@layer components {
  .grid-container {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6 xxl:grid-cols-4 3xl:gap-8;
  }
}

#krpano {
  *, *::before, *::after {
    box-sizing: content-box;
  }
}