@import "../defaults";

.Blog_Item {
  @apply flex flex-col bg-white rounded-md hover:cursor-pointer;
  filter: drop-shadow(1px 1px 2px rgba(79, 79, 79, 0.15));

  :global(img) {
    @apply rounded-t-md;
  }

  .Blog_Item_Content {
    @apply flex flex-col gap-3 py-3 px-4;

    .Blog_Item_Row_Time {
      @apply flex justify-between;
    }

    .Blog_Item_Row_Category {
      @apply flex gap-3 items-center;
    }
  }
}

.Blog_Container {
  @extend %kContent;

  .Blog_Container_Items {
    @extend %kGridView;
  }
}
