.PopoverMenu {
  .Icon {
    width: 18px;
    margin-right: 2px;
  }

  :global(.ant-popover-inner-content) {
    padding: 0;
  }

  :global(.ant-menu-item) {
    clear: both;
    margin: 0 !important;
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    height: auto;

    &:hover {
      background-color: #f5f5f5;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.ModalForm {
  :global(.ant-form-item) {
    margin-bottom: 12px;
  }
}