@import "../variables";

.Download {
  @apply w-full h-full flex flex-col items-center justify-center pt-10 gap-6 xxl:pt-0 xxl:gap-12;

  :global(span) {
    text-align: center;
  }

  .DZone {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-4;
  }

  .DItem {
    @apply flex flex-col gap-6 bg-white items-center;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.05);
    padding: 72px 84px 0 84px;
    border-radius: 6px;
    min-height: 436px;

    .Box {
      @apply flex items-center justify-center;
      width: 168px;
      height: 168px;
      background: $color-primary;
      border-radius: 25px;
    }

    .Guide {
      @apply flex justify-center gap-2;

      &:hover {
        @apply cursor-pointer;
        span {
          @apply underline;
        }
      }
    }

    h3 {
      margin-bottom: 0 !important;
    }
  }
}
