@import "../example";


.Filter_Container {
  @apply flex flex-col gap-6 p-6 mb-24;
  //width: 552px;
  //@media screen and (max-width: 575px) {
  //  width: calc(100vw - 40px);
  //}

  .Filter_Row {
    @apply flex flex-col justify-between gap-4;

    .Filter_Div {
      @apply flex flex-row items-center gap-8;

      .Filter_Div_Col {
        @apply flex flex-col gap-1 w-full;
      }
    }

    .Filter_Div_Status_Label {
      @apply flex flex-row items-center gap-6;
    }

    .Filter_Div_Status_Value {
      @apply flex flex-row items-center gap-8;
    }
  }

  .Filter_Row_Time {
    @apply flex flex-col justify-between gap-2;

    .Filter_Div {
      @apply flex flex-row items-center gap-8;

      .Filter_Div_Col {
        @apply flex flex-col gap-1 w-full;
      }
    }
  }
}

.Filter_Drawer {
  :global(.ant-drawer-content-wrapper){
    max-width: 375px !important;
  }

  :global(.ant-drawer-header) {
    padding: 0.75rem 1.5rem !important;

    :global(.ant-drawer-header-title > .ant-drawer-title){
      color: $color-text-dark-2;
      @include font-16-line-24;
      @include base-text-weight(strong);
    }

    button {
      padding: 0 !important;
    }
  }

  :global(.ant-drawer-body) {
    padding: 0 !important;
  }
}
