
.Filter_Container {
  @apply flex flex-col gap-6 bg-white py-6 px-8 shadow-2xl;
  width: 552px;
  @media screen and (max-width: 575px) {
    width: calc(100vw - 40px);
  }

  .Filter_Row {
    @apply flex flex-col justify-between gap-6 sm:flex-row;

    .Filter_Div {
      @apply w-full flex flex-row items-center gap-6 sm:w-1/2;

      .Filter_Div_Col {
        @apply flex flex-col gap-1 w-full;
      }
    }

    .Filter_Div_Status_Label {
      @apply w-full flex flex-row items-center gap-6 sm:w-1/3;
    }

    .Filter_Div_Status_Value {
      @apply w-full flex flex-row items-center gap-6 sm:w-2/3;
    }
  }
}

