@import "../variables";
@import "../example";
@import "../defaults";

.Item {
  @apply flex flex-col p-0 bg-white rounded-t-md;
  filter: drop-shadow(3px 3px 5px rgba(79, 79, 79, 0.1));

  &:hover {
    @apply cursor-pointer;
  }

  &.NoHover {
    &:hover {
      cursor: auto;
    }
  }

  :global(img) {
    @apply rounded-t-md;
  }

  .BoxInfo {
    @apply w-full flex flex-col justify-start bg-white;

    .BoxInfoMeta {
      @apply flex w-full flex-col items-center gap-3 py-4 px-6;

      .InfoMeta {
        @apply flex flex-row w-full items-center gap-2;

        span:last-child {
          @apply min-w-0 overflow-hidden text-ellipsis whitespace-nowrap flex-1;
        }
      }
    }
  }

  .Box_Count_Projects {
    @apply flex gap-4 pb-4 px-6;

    .Box_Count_Item_Project {
      @apply flex rounded h-6;

      :global(div) {
        background-color: $color-text-dark-4;
        @apply flex items-center justify-center px-2 rounded-r;

      }

      :global(div:first-child) {
        @apply px-1 rounded-r-none rounded-l;
        background-color: $color-text-dark-3;

        :global(span) {
          @apply text-white #{!important};
        }
      }

    }
  }

  .BoxActions {
    @apply flex justify-between bg-dark4 z-10;

    :global(div) {
      @apply w-1/2 flex justify-center py-2 px-6 gap-2;

      &:hover {
        background: $color-geodetic-bg-primary;

        :global(span) {
          @apply text-white #{!important};
        }

        :global(span) {
          :global(img) {
            @extend %icon-color-filter-white;
          }
        }
      }
    }

    :global(div:first-child) {
      @apply border-r border-b-0 border-t-0 border-l-0 border-solid border-white;
    }
  }
}

.Geodetic_Info {
  @apply flex flex-col gap-6;

  .Geodetic_Info_Card {
    @apply flex flex-col bg-white px-4 pt-4 pb-6 rounded-md;
    filter: drop-shadow(3px 3px 5px rgba(79, 79, 79, 0.1));

    .Geodetic_Info_Card_Header {
      @apply flex justify-between items-center pb-4;

      .Geodetic_Info_Card_Header_Left {
        @apply flex items-center gap-3;
      }
    }

    .Geodetic_Info_Card_Grid {
      @apply pt-4;
      @extend %kGridView;
    }
  }
}
