@import "../variables";
@import "../functions";
@import "../example";

.Header {
  @apply flex justify-between items-center px-2 md:px-4 xxl:pr-8 xxl:pl-4 3xl:pl-8;
  height: 3.75rem;
  background-color: #003437;
  box-shadow: 0 2px 15px rgba(51, 51, 51, 0.25);

  &.Header_Geodetic {
    background-color: #000000;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  .Actions {
    @apply flex items-center gap-2 md:gap-4 xxl:gap-6;

    button:last-child {
      color: $color-white !important;
    }
  }

  .LeftHeader {
    @apply flex items-center gap-0 md:gap-2 xxl:gap-4;

    .IconTimelapse {
      display: flex !important;
      @apply items-center hover:cursor-pointer;

      @include respond-to($breakpoints, "lg") {
        display: none !important;
      }
    }

    .LogoTimelapse {
      display: none !important;
      @apply hover:cursor-pointer;

      @include respond-to($breakpoints, "lg") {
        display: flex !important;
        @apply items-center;
      }
    }
  }
}

%NavItemDefault {
  @apply flex flex-row items-center mr-0 md:mr-2 xxl:mr-4;

  :global(a) {
    @apply flex flex-row items-center h-9 px-2  rounded-lg;

    &:hover {
      background: rgba(209, 209, 240, 0.2);
    }
  }
}

.NavAction {
  @apply flex items-center hidden xl:block flex-wrap;

  :global(a) {
    @apply py-1.5;
  }
}

.NavBar {
  @apply flex flex-row items-center pl-0 mb-0 list-none;

  .NavItem {
    @extend %NavItemDefault;
  }

  .NavMenu {
    @extend %NavItemDefault;

    :global(a) {
      @apply py-1 h-9.5;
    }
  }

  .NavLogo {
    @extend %NavItemDefault;
    @apply mr-0;

    :global(a) {
      @apply py-1;

      &:hover {
        background: transparent;
      }
    }
  }

  .NavLanguage {
    @extend %NavItemDefault;
    @apply mr-0;

    :global(a) {
      @apply flex py-1 px-2 h-9.5;

      span {
        &:nth-child(2) {
          @include base-text-weight(strong);
          @apply text-white pl-2 hidden xl:block;
          @include font-14-line-20;
        }

        &:last-child {
          @apply pl-2;
        }
      }
    }
  }

  .NavAccount {
    @extend %NavItemDefault;
    @apply mr-0;

    :global(a) {
      @apply flex items-center gap-2 py-1 px-2 h-9.5;

      span:nth-child(2) {
        @include base-text-weight(strong);
        @apply text-white;
        @include font-12-line-16;
      }
    }
  }
}



