@import "../variables";
@import "../functions";
@import "../example";

.FixHeightContent {
  @apply w-full h-full grow flex items-center justify-center;

  .Content {
    @apply flex flex-col items-center p-8;

    .TextTitle {
      @include base-text-weight(strong);
      @extend .text-title-3;
      @apply mb-2;

      @include respond-to($breakpoints, 'md') {
        @apply mb-3;
      }

      @include respond-to($breakpoints, 'lg') {
        @include base-typography(2.5, 3.5);
        @include base-text-weight(strong);
        @apply mb-3;
      }

      @include respond-to($breakpoints, 'xxl') {
        @include base-typography(3.2, 3.75);
        @include base-text-weight(strong);
        @apply mb-6;
      }

    }

    .TextDes {
      text-align: center;
      @extend .text-info-table;

      @include respond-to($breakpoints, 'lg') {
        @include base-typography(1, 1.4);
      }

      @include respond-to($breakpoints, 'xxl') {
        @include base-typography(1.25, 1.6);
      }
    }

    .Items {
      @apply grid grid-cols-2;
      row-gap: 24px;
      column-gap: 56px;
      padding-top: 48px;

      @include respond-to($breakpoints, 'md') {
        @apply grid-cols-3;
        row-gap: 32px;
        padding-top: 56px;
      }

      @include respond-to($breakpoints, 'lg') {
        @apply grid-cols-4;
        row-gap: 36px;
        padding-top: 75px;
      }

      @include respond-to($breakpoints, 'xxl') {
        @apply grid-cols-4;
        column-gap: 100px;
        row-gap: 48px;
        padding-top: 100px;
      }

      .Item {
        @apply flex flex-col items-center gap-3;
        @extend .text-body-text-3;

        @include respond-to($breakpoints, 'md') {
          @include base-typography(1, 1.375);
        }

        @include respond-to($breakpoints, 'xxl') {
          @include base-typography(1.25, 1.5);
        }


        .Box {
          @apply flex items-center justify-center;
          width: 112px;
          height: 112px;
          background: $color-primary;
          border-radius: 15px;
          padding: 24px;

          @include respond-to($breakpoints, 'md') {
            width: 136px;
            height: 136px;
          }

          @include respond-to($breakpoints, 'xxl') {
            width: 168px;
            height: 168px;
          }

          &:hover {
            @apply shadow-xl cursor-pointer;
          }
        }
      }
    }
  }
}
