@import "../variables";
@import "../example";
@import "../functions";

.Login {
  @apply grid grid-flow-row auto-rows-max gap-8 py-12 px-16;
  background-color: $color-white;
  text-align: center;
  padding: 1.5rem 1.5rem;
  margin-top: 134px;
  margin-left: clamp(5px, 10%, 150px);
  margin-right: clamp(5px, 10%, 150px);
  border-radius: 0.375rem;
  width: 32.5rem;

  @include respond-to($breakpoints, 'md') {
    padding: 2.5rem 3.25rem;
  }

  @include respond-to($breakpoints, 'xl') {
    padding: 2.75rem 3.5rem;
  }

  @include respond-to($breakpoints, 'xxl') {
    padding: 3rem 3.75rem;
  }

  .SocialBox {
    @apply border-solid border rounded flex justify-center;
    border-color: $color-gray2;
    height: 2.5rem;

    div:first-child {
      gap: 12px !important;
    }

    span {
      @include base-text-weight(strong);
      @extend .text-body-text-2;
    }
  }

  .FixDivider {
    margin: 21px 0 !important;

    :global(.ant-divider-inner-text) {
      @extend .text-body-text-3;
      color: $color-text-dark-3 !important;
    }
  }
}
