@import "../variables";

.IconBack {
  @apply absolute top-4 left-4 cursor-pointer;
  //&:hover{
  //  @apply shadow-lg;
  //}
}

.LoginScreen {
  min-height: 100vh;
  @apply relative;

  .ant-form-item-explain {
    margin-bottom: 1rem;
  }
}

.Alert {
  @apply mb-2;
}

.LoginBanner {
  //width: 100%;
  //background-image: url("../../assets/image/bg.png");
  //background-size: cover;
  //background-repeat: no-repeat;
  //height: auto;
}

.CenterDiv {
  @apply absolute;
  @apply inset-0;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  //@apply  left-1/2;
}

.Card {
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(51, 51, 51, 0.25);
  border-radius: 25px;
  //@apply p-8;
  @apply sm:p-1;
}

.LoginLogo {
  height: 10rem;
  pointer-events: none;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .LoginLogo {
    animation: LoginLogo-float infinite 3s ease-in-out;
  }
}

.TextTitle {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: $color-text-main;
}

@keyframes LoginLogo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
