.ModalHeader {
  top: 1.25rem;

  .ant-modal-header {
    padding: 0.3rem;
  }
}

.RadioButton {
  .ant-radio-button-wrapper {
    background-color: rgba(21, 25, 20, 0.75);
    border-bottom-left-radius: 0.25rem;
    border: 0;
    border-top-left-radius: 0;
  }
}

.BgButton {
  button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.ClipButton {
  button {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.DbButton {
  button {
    width: 140px;
    align-content: center;
  }
}


