@import "../variables";

.MasterLayout {
  min-height: 100vh;

  .Header {
    padding: 0 1.5rem 0 0;
    height: 64px;
    background: $color-background-main;
  }

  .SbMenu {
    :global( > li:first-child) {
      margin-top: 0;
    }
  }

  .Logo {
    height: 24px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;

    &.Full {
      background-image: url("../../assets/image/logo_dashboard.png");
    }

    &.Minimized {
      background-image: url("../../assets/image/logo_white.png");
    }
  }

  .Sider {
    .MenuImg {
      width: 24px !important;
      margin-right: 0.4rem;
    }

    .Navigation {
      padding: 16px 1.8rem;

      img {
        height: 32px;
      }
    }
  }

  .Layout {
    &.Open {
      margin-left: 200px;
    }

    &.Close {
      margin-left: 80px;
    }
  }

  .Content {
    padding: 0;
    flex-shrink: inherit;
    flex-grow: inherit;
    flex-basis: inherit;
  }
}
