.WidgetUserBackground {
  aspect-ratio: 2.7;
}

.WidgetUserAvatar {
  margin-left: -80px;
}

.WidgetUserInfoName {
  padding-top: 5px;
  padding-bottom: 1px;
}

.WidgetCard {
  max-width: 940px !important;
}

.WidgetColorPrimary {
  background-color: #e4e5e6;
}

.WidgetColorSecondary {
  background-color: #f0f3f5;
}
