@import "../variables";

.ShareContainer {
  &.Map2DContainer {
    .Item {
      &.ItemSuccess {
        &:before {
          border-left-color: $color-geodetic-bg-primary !important;
        }
      }

      .ItemInfo {
        .InfoActive {
          color: $color-geodetic-bg-primary !important;
        }
      }
    }

    .GridItems {
      @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6  3xl:grid-cols-4 #{!important};
    }

    .GridItems + div {
      :global(.ant-pagination-item-active) {
        border-color: $color-geodetic-bg-primary !important;

        a {
          color: $color-geodetic-bg-primary !important;
        }
      }

      li:hover a {
        color: $color-geodetic-bg-primary !important;
      }
    }
  }

  .GridItems {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xxl:gap-10 3xl:grid-cols-4;

    .Item {
      @apply relative py-4 flex flex-col gap-3 bg-white rounded hover:cursor-pointer;

      &:before {
        @apply absolute top-0 left-0 bottom-0 rounded-l;
        border-left: 0.25rem solid $color-text-dark-3;
        content: '';
      }

      .ItemInfo {
        @apply flex flex-col gap-2 px-4;

        .InfoActive {
          color: $color-state-success;
        }

        .InfoInActive {
          color: $color-text-dark-3;
        }
      }

      .ItemTool {
        @apply flex justify-between px-3 items-center;

        :global(span.anticon) {
          @apply w-6 h-6 #{!important};
        }
      }

      &.ItemSuccess {
        &:before {
          border-left-color: $color-state-success;
        }
      }
    }
  }
}