@import "../variables";
@import "../functions";

.Test {
  min-height: 100vh;

  &.Bg {
    background: url("../../assets/image/bg_login.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.NoBg {
    background: rgba(255, 255, 255, 0.9);
  }

  .ContentLayout {
    transition: all 0.25s ease;

    .ContentTitle {
      box-shadow: 1px 1px 2px rgba(79, 79, 79, 0.15);
    }
  }

  .Content {
    @apply flex flex-row;
    background: transparent;
  }

  .Footer {
    @apply flex justify-center;
    background: transparent;
    padding: 23px 15px;
  }
}

.Sider {
  @apply fixed left-0 bottom-0 overflow-auto;
  //margin-top: 60px !important;
  top: 60px;
  height: calc(100vh - 60px) !important;
  background-color: #01686F;


  &.SiderGeodetic {
    background-color: #666666;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  //@include  respond-to($breakpoints,'md'){
  //  width: 80px !important;
  //  max-width: 80px !important;
  //  min-width: 80px !important;
  //}

  :global(.ant-layout-sider-trigger) {
    background: #003437 !important;
  }
}

.HoverAction {
  &:hover {
    //padding: 5px;
    background: rgba($color-white, 0.5);
  }
}

.BackTop {
  height: 40px;
  width: 40px;
  line-height: 54px;
  border-radius: 50%;
  background-color: $color-primary;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
