@import "../variables";

.CardTimeline {
  flex: 1 1 auto;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
