@import "../variables";
@import "../functions";

%List {
  @apply flex-col h-full w-full;

  @include respond-to($breakpoints, "xl") {
    @apply items-center border-solid;
  }
}

.Main {
  @apply flex flex-col lg:flex-row items-start justify-start w-full h-full;

  .FixList {
    @apply hidden;

    @include respond-to($breakpoints, "xl") {
      @apply block h-full w-60 flex-none;
    }
  }

  .CompareZone {
    @apply flex flex-col h-full w-full justify-between order-last lg:order-none;

    .ContentZone {
      @apply flex flex-col grow p-4 gap-4 xl:px-6 xl:pt-10 xl:pb-0 xxl:gap-6;

      .ToolsZone {
        @apply flex flex-col w-full gap-2;

        @include respond-to($breakpoints, "sm") {
          @apply flex-row justify-start gap-8;
        }

        @include respond-to($breakpoints, "3xl") {
          padding-bottom: 0;
        }


        .ToolContainer {
          @apply flex w-full;

          @include respond-to($breakpoints, "sm") {
            @apply flex-col w-auto gap-2;
          }

          .ToolTitle {
            @apply w-1/3 flex-none sm:w-auto;
          }

          .ToolChildren {
            @apply flex w-full ;

            :global(.ant-radio-group) {
              @apply w-full;
            }

            .FixChildren {
              @apply grid grid-cols-2 w-full;

              @include respond-to($breakpoints, "sm") {
                @apply grid-rows-2 grid-cols-1 gap-y-2;
              }
            }
          }
        }
      }

      .SliderContainer {
        @apply w-full h-full gap-3 flex;

        .SliderBoxAspect {
          @apply w-full h-full flex-auto relative;
        }
      }

      .CompareContainer {
        @apply w-full h-full;

        @include respond-to($breakpoints, "xxl") {
          @apply aspect-w-12 aspect-h-4 border-solid border border-dark50 divide-x divide-black;
        }

        .CompareFixContainer {
          @apply flex flex-col h-full gap-2 sm:gap-6 md:gap-8 lg:gap-1;

          @include respond-to($breakpoints, "xxl") {
            @apply absolute inset-0 flex-row gap-0;
            padding: 0;
          }

          :global(.drag-zone) {
            @apply w-full border-solid border-0.5 border-dark2;

            @include respond-to($breakpoints, "xxl") {
              @apply border-0;

              &:first-child {
                @apply border-solid border-y-0 border-r-0.5 border-l-0 border-dark2;
              }
            }
          }
        }
      }
    }
  }

  .ListRight {
    @extend %List;
    @apply border-y-0 border-r-0 border-l-0.5 border-dark50;
  }
}

.InputFilter {
  @apply flex flex-col items-center py-5 px-10 gap-4;

  @include respond-to($breakpoints, "xl") {
    @apply px-4 items-center gap-8;
    padding-top: 42px;
    padding-bottom: 32px;
  }

  @include respond-to($breakpoints, "3xl") {
    @apply px-5 items-center gap-10;
    padding-top: 38px;
    padding-bottom: 40px;
  }

  .InputsZone {
    @apply flex flex-col gap-2;

    @include respond-to($breakpoints, "xl") {
      @apply gap-4;
    }
  }
}

.ListLeft {
  @extend %List;
  @apply border-y-0 border-l-0 border-r-0.5 border-dark50;
}

.DragZone {
  @apply relative flex w-full h-1/2 flex-row items-start gap-6 md:gap-8 lg:gap-20;

  &:first-child {
    @include respond-to($breakpoints, "xxl") {
      @apply border-solid border-t-0 border-l-0 border-r-0 border-b-0.5 border-dark50;
    }
  }

  @include respond-to($breakpoints, "xxl") {
    @apply items-start justify-start flex-col w-1/2 h-full;
  }
}
