@import "../variables";
@import "../example";

%info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 11px;
  opacity: 0.5;
  border-radius: 3px;
  position: absolute;
  top: 12px;
  gap: 0.25rem;

  :global(div) {
    @apply flex items-center gap-1;

    span {
      color: $color-white !important;
    }
  }

  :global(div.ant-space) {
    gap: 4px !important;

    :global( span:last-child) {
      color: $color-white !important;
    }

  }
}

.Item {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(3px 3px 5px rgba(79, 79, 79, 0.1));
  padding: 0;

  &:hover {
    @apply cursor-pointer;
  }

  :global(img) {
    border-radius: 6px 6px 0 0;
  }

  .InfoSensor {
    @extend %info;
    background: $color-text-dark-1;
    left: 12px;

  }

  .InfoTotal {
    @extend %info;
    background: $color-primary;
    opacity: 0.66;
    right: 12px;
  }

  .Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 11px;
    opacity: 0.5;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    top: 12px;

  }

  .Divider {
    width: 100%;
    height: 6px;
    background: $color-bg-main-3;
  }

  .BoxInfo {
    width: 100%;
    background: $color-white;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    .BoxInfoMeta {
      @apply flex flex-col;
      width: 100%;
      gap: 12px;

      .InfoMeta {
        @apply flex items-center w-full gap-4;

        .Meta {
          @apply flex gap-3 items-center;
        }
      }
    }
  }

  .BoxStatusAndCount {
    width: 100%;
    padding: 10px 0;
    @apply flex justify-between;

    div:first-child {
      @apply flex gap-4 items-center;
    }
  }
}
