@import "../variables";
@import "../example";

.Item {
  @apply flex flex-col p-0;
  filter: drop-shadow(3px 3px 5px rgba(79, 79, 79, 0.1));

  &:hover {
    @apply cursor-pointer;
  }

  :global(img) {
    @apply rounded-t-md;
  }

  .Carousel {
    :global(div) {
      @apply rounded-t-md;
    }

    .InfoSensor {
      @apply absolute flex flex-col gap-1 py-2 px-3 justify-start items-start top-3 left-3;
      background: $color-text-dark-1;
      opacity: 0.5;
      border-radius: 3px;

      :global(div) {
        @apply flex items-center gap-1;
      }
    }
  }

  .Divider {
    @apply w-full h-1.5;
    background: $color-bg-main-3;
  }

  .BoxInfo {
    @apply w-full flex flex-col rounded-b-md justify-start bg-white py-0 px-4;

    .BoxInfoMeta {
      @apply flex w-full flex-col items-center gap-3 my-4 mx-0;

      .InfoMeta {
        @apply flex flex-wrap w-full items-center gap-2;

        span:last-child {
          @apply min-w-0 overflow-hidden text-ellipsis whitespace-nowrap flex-1;
          //flex: 1;
        }
      }
    }
  }

  .BoxStatusAndCount {
    @apply flex justify-between w-full py-2.5 px-0;

    div:first-child {
      @apply flex gap-4 items-center;
    }
  }
}
