@import "../variables";

.BtnCustom {
  position: absolute;
  top: 49%;
  right: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}


.ButtonLoading {
  &:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 0.5s ease infinite;
  }

  .ButtonContent {
    visibility: hidden;
    opacity: 0;
  }
}

.BtnNoEvent {
  opacity: 0.5;
  pointer-events: none;
}

.ButtonContent {
  color: #ffffff;
  transition: all 0.2s;
}

.BtnActive {
  background-color: #009579 !important;
  color: #ffffff !important;
  border: none !important;

  .AntTypography {
    color: #ffffff !important;
  }
}

.BtnInActive {
  &:hover {
    border: 1px solid #009579 !important;
    color: #009579 !important;

    .AntTypography {
      color: #009579 !important;
    }
  }

  &:focus {
    color: transparent !important;
    border-color: transparent !important;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.DivQuality {
  position: absolute;
  z-index: 1080;
  bottom: 15%;
  left: 0;
  right: 0;
}

.BtnCustomVisible {
  opacity: 1;
  z-index: 1100;
  visibility: visible;

  &.BtnCustomHidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s, opacity 0.1s linear;
    -moz-transition: visibility 0.1s, opacity 0.1s linear;
    -o-transition: visibility 0.1s, opacity 0.1s linear;
    transition: visibility 0.1s, opacity 0.1s linear;
  }
}

.DivFixLgToolbar {
  padding: inherit !important;
}

.ButtonFixIconSize {
  & > * {
    font-size: 24px !important;
  }
}

.CardHistoryImage {
  @apply flex flex-col grow w-full gap-6 pt-6;

  .History {
    @apply flex flex-row items-center gap-3 px-6 py-3 bg-white relative;

    &::before {
      border-left: 4px solid $color-bg-main-3;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: 2px 0 0 2px;
      content: '';
    }
  }

}

.GridImage {
  @apply grid grid-cols-1 gap-6 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-3 sm:grid-cols-2 md:gap-8;
}

.Item {
  @apply flex flex-col items-start w-full p-0;
  filter: drop-shadow(3px 3px 5px rgba(79, 79, 79, 0.1));

  &:hover {
    @apply cursor-pointer;
  }

  :global(img) {
    border-radius: 6px 6px 0 0;
  }


  .BoxImage {
    @apply relative;

    .ImgDl {
      @apply absolute top-2 left-2;
    }
  }

  .Divider {
    width: 100%;
    height: 6px;
    background: $color-bg-main-3;
  }

  .BoxContent {
    background: $color-white;
    @apply flex flex-col items-start gap-4 px-6 py-3 w-full;
    border-radius: 0 0 3.94805px 3.94805px;

    .BoxInfoSensor {
      @apply flex flex-col items-start gap-1 w-full;
    }
  }
}
