.TopAccount {
  .ant-card-meta-title {
    margin-bottom: 0;
  }
}

.TopBtn {
  height: 38px;
  width: 38px;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);

  &:hover {
    background: #fff !important;
    border-color: transparent;
    color: transparent;
    @apply shadow-inner;
  }

  &:active {
    background: #fff !important;
    border-color: transparent;
    color: transparent;
    @apply shadow-inner;
  }

  &:focus {
    background: #fff !important;
    border-color: transparent;
    color: transparent;
    @apply shadow-inner;
  }
}
