@import "../variables";

.Btn {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  height: 50%;

  :global(span.ant-typography) {
    @apply hidden lg:inline-block;
  }
}
