@import "../../../../styles/variables";
@import "../../../../styles/example";

.MapContainer {
  position: relative;
  height: 100%;
  margin: 0;
}

.SpinnerLoading {
  &:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 5px solid rgba(180, 180, 180, 0.6);
    border-top-color: rgba(0, 0, 0, 0.6);
    animation: spinner 0.6s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.MenuToolTip {
  @apply left-15 #{!important};
}

.MenuOptsTool {
  @apply absolute top-20 right-0 z-10 #{!important};

  li {
    @apply p-2 m-0 h-8 bg-gray-800 #{!important};

    &::after {
      @apply h-0 border-none #{!important};
    }

    span {
      @apply block #{!important};
    }
  }
}

.ButtonBorder {
  @apply rounded-l-2xl #{!important};
}

.DrawerRight {
  :global(.ant-drawer-header) {
    padding: 7px 0 7px 10px;
    background-color: $color-geodetic-bg-main3;

    :global(.ant-drawer-close) {
      span:first-child {
        display: block !important;
      }

      &:hover {
        span > {
          img {
            transform: scale(calc(28 / 24))
          }
        }
      }
    }
  }

  :global(.ant-drawer-body) {
    @apply m-2 #{!important};
  }

  .CollapseMenuRight {
    :global(.ant-collapse-item-disabled) {
      display: none !important;
    }

    :global(.ant-collapse-item) {
      width: 100% !important;

      :global(.ant-collapse-content-box) {
        @apply py-0 #{!important};
      }
    }

    :global(.ant-collapse-header) {
      @extend .text-v2d-buttonSmall-semibold;
      @include v2d-text-weight(semibold);
      @apply p-4 #{!important};
    }

    :global(.ant-radio) {
      span:last-child {
        box-shadow: initial !important;
      }

      :global(.ant-radio-inner) {
        border-color: $color-geodetic-bg-primary;

        &::after {
          background-color: $color-geodetic-bg-primary;
        }
      }

      &:global(.ant-radio-checked) {
        &::after {
          border: initial !important;
        }
      }
    }
  }

  .InputForm {
    :global(.ant-row) {
      display: flex;
    }

    :global(.ant-form-item-hidden) {
      @apply hidden #{!important}
    }

    :global(.ant-input-group-addon) {
      @include font-9-line-14;
      padding: 0 1px;
      background-color: $color-geodetic-bg-main3;
      border: initial;
    }

    :global(.ant-input), :global(.ant-input-prefix) {
      height: 1.125rem !important;
      border: initial;
      background-color: $color-geodetic-bg-main3;
    }
  }

  .InputAddOn {
    @extend .InputForm;
    width: 9.375rem !important;

    :global(.ant-input-group) {
      width: 4.2rem !important;
    }

    :global(.ant-space-item) {
      @apply pb-3;

      &:last-child {
        @apply pb-0;
      }
    }
  }

  .InputTransform {
    @extend .InputForm;

    :global(.ant-form-item-no-colon) {
      width: 24px !important;
    }

    :global(.ant-input-wrapper) {
      input {
        @apply w-36 h-6 #{!important};
      }
    }

    :global(.ant-input-wrapper) {
      @apply pb-3  #{!important};
    }
  }


  .RadioGroup {
    :global(.ant-radio-button-wrapper) {
      border: initial;
      @apply px-3.5;

      &::before {
        background-color: initial !important;
      }

      &:global(.ant-radio-button-wrapper-checked) {
        box-shadow: initial !important;

        span:last-child {
          border-bottom: 1px solid $color-geodetic-bg-primary;
        }
      }
    }
  }
}

.PanelTranslate {
  position: relative;
  text-align: center;
  overflow: hidden;
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.BtnTranslate {
  &:hover {
    background: red !important;
  }
}

.IconFas{
  @apply text-white w-3 block #{!important};
}
