@import "../../../../styles/variables";
@import "../../../../styles/example";

.ModalHeader {
  top: 1.25rem;

  :global(.ant-modal-header), :global(.ant-modal-footer) {
    padding: 0.4rem 1rem;
  }

  :global(.ant-modal-title) {
    font-size: 0.9rem;
  }

  :global(.ant-modal-close-x) {
    line-height: 36px;
    width: 36px;
    height: 36px;
  }
}

.MapContainer {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.Tool {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(64px + 1rem);
  right: 0;

  .RadioButton {
    background-color: rgba(21, 25, 20, 0.75);
    border: none;
    border-radius: 0 !important;
    text-align: center;

    &:hover {
      background-color: #000000;
    }

    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: red;
    }

    .Icon {
      color: #fff;
      width: 12px;
    }
  }

  .SpaceGroup {
    .Button {
      border-radius: 0;
      border-width: 0;
      background-color: rgba(21, 25, 20, 0.75);
      color: #fff;
      width: 2.2rem;

      &.Active, &:hover {
        background-color: rgba($color-main, 0.9);
        color: #fff;
      }
    }

    div {
      &:first-child .Button {
        border-top-left-radius: 0.25rem;
      }

      &:last-child .Button {
        border-bottom-left-radius: 0.25rem;
      }
    }
  }
}

.OvlTooltip {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: $color-white;
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;

  &.Hidden {
    display: none;
  }

  &.OvlTooltipMeasure {
    font-weight: bold;
  }

  &.OvlTooltipMeasure:before,
  &.OvlTooltipStatic:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }

  &.OvlTooltipStatic {
    display: block;
    background-color: #ffcc33;
    color: black;
    border: 1px solid #fff;

    &:before {
      border-top-color: #ffcc33;
    }
  }

  &.OvlTooltipHidden {
    display: none;
  }
}

.ModalVideo {
  @apply absolute top-24 left-0 right-0 text-white text-5xl #{!important};

  &:hover {
    color: #42a1f5 !important;
    font-size: 3.25rem !important;

    &.overlay-modal-video {
      background-color: #ffcc33 !important;
    }
  }

  &:focus {
    color: transparent !important;
    border-color: transparent !important;
  }
}

.ModalPreviewVideo {
  &:hover {
    color: #42a1f5 !important;
    font-size: 22px !important;

    &.overlay-modal-video {
      background-color: #ffcc33 !important;
    }
  }

  &:focus {
    color: transparent !important;
    border-color: transparent !important;
  }
}

.MeasurePropertiesPanel {
  position: absolute;
  top: 50%;
  width: 100%;

  :global(.ant-divider) {
    background-color: $color-geodetic-bg-primary;
    height: 2.5rem;

    :global(.ant-divider-inner-text) {
      display: flex;

      span:first-child {
        display: flex;
        width: 1.5rem !important;
        margin-right: 0.5rem !important;
      }

      :global(.ant-typography) {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 1194px) {
    @apply top-0 #{!important};

    :global(.ant-divider) {
      span > img {
        @apply w-4 h-4 min-w-min min-h-min #{!important};
      }

      :global(.ant-typography) {
        @include font-12-line-22;
      }
    }

  }
}

.MenuToolBar {
  width: 100%;
  border: initial;
  overflow: hidden;
  background-color: $color-geodetic-bg-main3;

  :global(.ant-menu-item) {
    padding: 0 8px !important;
    height: 40px !important;
    text-align: center;

    &:global(.ant-menu-item-disabled) {
      span > {
        img {
          filter: brightness(1) invert(1) !important;
        }
      }
    }

    &::before {
      border: initial !important;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 100%;
      width: 0.5px;
      height: 50%;
      background: $color-text-dark-2 !important;
    }

    &:hover, &:focus {
      img {
        filter: invert(74%) sepia(98%) saturate(424%) hue-rotate(320deg) brightness(94%) contrast(84%);
      }
    }

    &:global(.ant-menu-item-selected) {
      top: 0 !important;
      box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 1), inset 2px 2px 2px rgba(189, 189, 189, 1);
      background-color: $color-geodetic-bg-main3;
      border-image-source: linear-gradient(122.51deg, rgba(196, 196, 196, 1) 16.62%, rgba(255, 255, 255, 1) 56.74%);

      &::after {
        display: none !important;
      }
    }

    :global(.ant-menu-title-content) {
      height: 40px !important;
      display: inline-flex;
    }
  }
}

.ControlDrawToolBar {
  @extend .MenuToolBar;
  position: absolute !important;
  bottom: 0;

  :global(.ant-menu-item) {
    width: calc(100% / 5) !important;
  }
}

.MeasureDrawToolBar {
  @extend .MenuToolBar;

  :global(.ant-menu-item) {
    width: calc(100% / 3) !important;
  }
}

.ProfileDrawToolBar {
  @extend .MenuToolBar;

  :global(.ant-menu-item) {
    width: calc(100% / 5) !important;
  }
}

.TableCoord {
  margin-bottom: 0.5rem;

  :global(.ant-table.ant-table-small) {
    font-size: 0.75rem;
  }

  :global(.ant-table.ant-table-small .ant-table-tbody > tr > td) {
    padding: 4px 6px;
  }

  :global(.ant-table-thead) {
    tr > th {
      text-align: center;
      background-color: $color-geodetic-bg-main3;
    }
  }

  :global {
    .ant-table-footer {
      background-color: $color-geodetic-bg-main3;
      @include font-14-line-18;
      @include base-text-weight(strong);
    }
  }

  :global(.ant-table-body) {
    table {
      tbody {
        :global(.ant-table-row) {
          td {
            @include font-12-line-18;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
      }
    }
  }
}

.LineSlash {
  height: 2px;
  width: 1.2rem;
  position: absolute !important;
  top: -1.5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
  color: transparent !important;
}

.PopoverColor {
  padding: 0 !important;

  :global(.ant-popover-inner-content) {
    padding: 0 !important;
  }
}

.MenuRight {
  :global(.ant-drawer-header) {
    padding: 7px 0 7px 10px;
    background-color: $color-geodetic-bg-main3;

    :global(.ant-drawer-close) {
      span:first-child {
        display: block !important;
      }

      &:hover {
        span > {
          img {
            transform: scale(calc(28 / 24))
          }
        }
      }
    }
  }

  .CollapseMenuRight {

    :global(.ant-collapse-item-disabled) {
      display: none !important;
    }

    :global(.ant-collapse-item) {
      width: 100% !important;

      :global(.ant-collapse-content-box) {
        @apply py-0 #{!important};
      }
    }

    :global(.ant-collapse-header) {
      @extend .text-v2d-buttonSmall-semibold;
      @include v2d-text-weight(semibold);
      @apply p-4 #{!important};
    }

    :global(.ant-radio) {
      span:last-child {
        box-shadow: initial !important;
      }

      :global(.ant-radio-inner) {
        border-color: $color-geodetic-bg-primary;

        &::after {
          background-color: $color-geodetic-bg-primary;
        }
      }

      &:global(.ant-radio-checked) {
        &::after {
          border: initial !important;
        }
      }
    }
  }

  .InputForm {
    :global(.ant-row) {
      display: flex;
    }

    :global(.ant-form-item-hidden) {
      @apply hidden #{!important}
    }

    :global(.ant-input-group-addon) {
      @include font-9-line-14;
      padding: 0 1px;
      background-color: $color-geodetic-bg-main3;
      border: initial;
    }

    :global(.ant-input), :global(.ant-input-prefix) {
      height: 1.125rem !important;
      border: initial;
      background-color: $color-geodetic-bg-main3;
    }
  }

  .InputAddOn {
    @extend .InputForm;
    width: 9.375rem !important;

    :global(.ant-input-group) {
      width: 4.2rem !important;
    }

    :global(.ant-space-item) {
      @apply pb-3;

      &:last-child {
        @apply pb-0;
      }
    }
  }

  .InputTransform {
    @extend .InputForm;

    :global(.ant-form-item-no-colon) {
      width: 24px !important;
    }

    :global(.ant-input-wrapper) {
      input {
        @apply w-36 h-6 #{!important};
      }
    }

    :global(.ant-input-wrapper) {
      @apply pb-3  #{!important};
    }
  }


  .RadioGroup {
    :global(.ant-radio-button-wrapper) {
      border: initial;
      @apply px-3.5;

      &::before {
        background-color: initial !important;
      }

      &:global(.ant-radio-button-wrapper-checked) {
        box-shadow: initial !important;

        span:last-child {
          border-bottom: 1px solid $color-geodetic-bg-primary;
        }
      }
    }
  }
}

.MarkerPopup {
  @apply bg-white max-h-20 #{!important};
  width: 500px !important;

  @media screen and (max-width: 1194px) {
    width: 300px !important;
    max-height: 150px !important;
  }

  :global(.ant-card-actions) {
    li {
      margin: 4px;
    }
  }
}

.SubMenu {
  top: 3.375rem !important;
  width: 11.25rem !important;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba($color-gray2, 0.1);

  li > span:last-child {
    @extend .text-v2d-highlight-semibold;
    @include v2d-text-weight(semibold);
    vertical-align: text-top;
    margin-left: 0.75rem;
  }

  li {
    height: 2rem !important;
    margin: 0 !important;
    vertical-align: middle;
    padding-right: 0 !important;
    width: 100%;

    &:hover {
      color: initial !important;
      background-color: $color-gray;
    }
  }

  @media screen and (max-width: 1194px) {
    top: 14.4rem !important;
  }
}

.TipOverlay {
  color: $color-geodetic-bg-primary !important;
  font-family: Calibr, sans-serif;
  size: 14px;
  font-weight: 500;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.TabSwitchPart {
  @apply mr-1 bg-2d-primary rounded-l px-0.5 #{!important};
}

.EditorWrapper {
  border: 1px solid #d9d9d9;

  :global(.rdw-editor-main) {
    background-color: $color-gray !important;
    height: 120px !important;
    overflow: initial !important;
  }

  :global(.rdw-editor-toolbar) {
    padding: 1rem !important;
  }
}

.PopoverListMenu {
  @apply p-0 #{!important};

  :global(.ant-popover-arrow) {
    @apply hidden #{!important};
  }

  :global(.ant-popover-inner) {
    @apply rounded #{!important};
  }

  :global(.ant-popover-inner-content) {
    @apply pl-3.5 py-2 #{!important};
    ul {
      @apply border-none  #{!important};
    }
  }

  :global(.ant-menu) {
    @apply w-40 #{!important};
  }

  :global(.ant-menu-item) {
    @apply pl-2 m-0 #{!important};

    &:hover, &:focus {
      @apply text-dark2 #{!important};
    }

    &:active {
      @apply bg-2d-primary #{!important};
    }

    span > img {
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(103%) contrast(107%) !important;
      @apply w-4 h-4 #{!important};
    }

    span:first-of-type {
      @apply align-middle #{!important};
    }

    :global(.ant-menu-title-content) {
      @apply ml-2 #{!important};
      @include font-12-line-22;
      @extend .text-weight-strong;
    }
  }

  :global(.ant-menu-item-selected) {
    @apply bg-2d-primary text-white rounded #{!important};
  }
}

.MenuToolTip {
  @apply left-15 #{!important};

  @media screen and (max-width: 1194px) {
    @apply hidden #{!important};
  }
}

.SpinnerLoading {
  &:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 5px solid rgba(180, 180, 180, 0.6);
    border-top-color: rgba(0, 0, 0, 0.6);
    animation: spinner 0.6s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.ContourHelper {
  :global(.ant-tooltip-inner) {
    @apply rounded-16 bg-white text-2d-primary #{!important};
    @include font-12-line-14;
    @include base-text-weight(strong);
    line-height: initial !important;
  }

  :global(.ant-tooltip-arrow-content::before) {
    @apply bg-none bg-white #{!important};
  }
}

.CursorResizeDrawer {
  @apply absolute w-2 top-15 right-0 bottom-0 z-10 cursor-ew-resize #{!important};

  @media screen and (max-width: 1194px) {
    @apply w-0 #{!important};
  }
}

.ColorPicker{
  width: 1.25rem;
  right: 4rem;
  vertical-align: middle;
  height: 1.25rem !important;
  position: absolute !important;
  padding: 0 !important;

  &:hover, &:focus, &:active {
    background-color: $color-white !important;
  }
}




